<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="ml-4">
                                <i class="fa fa-adjust fa-lg"></i>
                                الأقسام الرئيسية
                            </span>
                        </p>
                        <b-field position="is-left" class="ml-auto col-4">
                            <b-input rounded placeholder="ابحث بأسم القسم ..." type="search" icon="magnify" v-model="search"></b-input>
                        </b-field>
                    </header>

                    <div class="card-content">
                        <a class="btn btn-primary text-white pull-left" @click="EditCatOrder('all')"> ترتيب الاقسام </a>
                        <b-table
                                :data="filterData"
                                :paginated="isPaginated"
                                :per-page="perPage"
                                :current-page.sync="currentPage"
                                :pagination-simple="isPaginationSimple"
                                :default-sort-direction="defaultSortDirection"
                                :bordered="true"
                                :loading="isLoading"
                                striped
                                narrowed
                                default-sort="id">

                            <template slot-scope="props">
                                <b-table-column width="100px" field="photo" label="" sortable centered>
                                    <img v-if="props.row.photo" style="width: 100px; height: 50px;"
                                         :src="appUrl+props.row.photo"
                                    >
                                </b-table-column>

                                <b-table-column field="name" label="اسم القسم" centered>
                                    {{ props.row.name }}
                                </b-table-column>
                                <b-table-column field="description" label="وصف القسم" centered>
                                    {{ props.row.description }}
                                </b-table-column>
                                <b-table-column field="show" label="عرض التفاصيل" width="150" centered>
                                    <router-link :to="'/admin/categories/show/' + props.row.id"
                                                 class="button is-accent btn-circle-md">
                                        <span class="icon">
                                            <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                                        </span>
                                    </router-link>
                                </b-table-column>
                                <b-table-column field="Edit" label="تعديل" width="100" centered>
                                    <a class="button is-accent btn-circle-md" @click="editCategoryModal(props.row)">
                                        <span class="icon">
                                            <i class="mdi mdi-account-edit mdi-24px"></i>
                                        </span>
                                    </a>
                                </b-table-column>

                                <b-table-column field="Delete" label="حذف" width="100" centered>
                                    <a class="button is-danger btn-circle-md" @click="deleteCategory(props.row.id)">
                                        <span class="icon">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    </a>
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon
                                                    icon="emoticon-sad"
                                                    size="is-large">
                                            </b-icon>
                                        </p>
                                        <p>{{ message }}</p>
                                    </div>
                                </section>
                            </template>

                        </b-table>
                        <div class="text-center mb-4">
                            <button @click="addCategory = true" class="button is-info is-medium is-rounded">
                                إضافة قسم رئيسي جديد
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Edit Category -->
        <b-modal :active.sync="editCategory" :width="680">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">تعديل بيانات القسم</p>
                </header>
                <section class="modal-card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="اسم القسم" :type="$v.categoryInfo.name.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل اسم القسم"
                                         v-model.trim="$v.categoryInfo.name.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="وصف القسم">
                                <b-input placeholder="ادخل وصف القسم"
                                         v-model="categoryInfo.description"
                                         type="textarea"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-3 mt-3">
                            <b-field label="صورة القسم">
                                <b-upload v-model="categoryInfo.photo">
                                    <a class="button is-primary">
                                        <b-icon icon="upload"></b-icon>
                                        <span class="mr-2">اضغط للتحميل</span>
                                    </a>
                                </b-upload>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-9 mt-5">
                            <span class="col-12 col-md-6" v-if="categoryInfo.photo">{{ categoryInfo.photo.name }}</span>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="editCategory = false">إلغاء</button>
                    <button class="button is-primary" ref="editButton" @click="editCategoryInfo()">حفظ التعديلات</button>
                </footer>
            </div>
        </b-modal>

        <!-- add Category -->
        <b-modal :active.sync="addCategory" :width="680" scroll="keep">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">إضافة قسم رئيسي جديد</p>
                </header>
                <section class="modal-card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="اسم القسم" :type="$v.newCategory.name.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل اسم القسم"
                                         v-model.trim="$v.newCategory.name.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="وصف القسم">
                                <b-input placeholder="ادخل وصف القسم"
                                         v-model="newCategory.description"
                                         type="textarea"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-3 mt-3">
                            <b-field label="صورة القسم">
                                <b-upload v-model="newCategory.photo">
                                    <a class="button is-primary">
                                        <b-icon icon="upload"></b-icon>
                                        <span class="mr-2">اضغط للتحميل</span>
                                    </a>
                                </b-upload>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-9 mt-5">
                            <span class="col-12 col-md-6" v-if="newCategory.photo">{{ newCategory.photo.name }}</span>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="addCategory = false">إلغاء</button>
                    <button class="button is-primary" ref="addButton" @click="addCategoryInfo()">حفظ</button>
                </footer>
            </div>
        </b-modal>

        <!-- edit Category Order -->
        <b-modal :active.sync="orderCat.modalStatus" :width="680" scroll="keep">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">ترتيب الاقسام</p>
                </header>
                <section class="modal-card-body">
                    <div class="row" style="justify-content: center;">
                        <order-items
                            :items="categories"
                            :useDragHandle="true"
                            :hideSortableGhost="false"
                            ref="ordered"
                        ></order-items>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="orderCat.modalStatus = false">إلغاء</button>
                    <button class="button is-primary" ref="addButton" @click="reorderCategory()">حفظ</button>
                </footer>
            </div>
        </b-modal>

    </div>
</template>


<script>
    import {getCategories, addCategory, updateCategory, deleteCategory, reorderCategories} from './../config/apiRoutes'
    import { required } from 'vuelidate/lib/validators'
    import {appUrl} from '../config/apiConfig';
    import OrderItems from "../../template/orderItems";
    import orderItems from "../../template/orderItems";
    export default {
        components: {OrderItems},
        data() {
            return {
                message: 'لا يوجد أقسام رئيسية حاليا',
                appUrl: appUrl,
                search: '',
                categories: [],
                categoryInfo: {
                    id: null,
                    name: null,
                    description: null,
                },
                newCategory: {
                    name: null,
                    description: null,
                    type: 1,
                },
                editCategory: false,
                addCategory: false,
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'desc',
                currentPage: 1,
                perPage: 10,
                isLoading: true,
                orderCat: {
                    modalStatus: false,
                    catData : {},
                    ordered: orderItems
                }
            }
        },

        validations: {
            categoryInfo: {
                id: {required},
                name: {required},
            },
            newCategory: {
                name: {required},
                type: {required},
            }
        },

        computed: {
            filterData() {
                this.search = this.search.trim();
                return this.categories.filter(category => {
                    return category.name.toLowerCase().includes(this.search.toLowerCase());
                });
            },
        },

        created: function () {
            this.getData();
        },

        methods:{
            getData() {
                getCategories(1).then((response) => {
                    this.categories = response.data;
                    this.isLoading = false;
                }).catch(() => {
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    this.isLoading = false;
                });
            },

            deleteCategory(category_id) {
                this.$swal({
                    title: 'هل انت متأكد ؟',
                    text: "عند الحذف لن تستطيع ارجاع المعلومات مرة أخرى",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'تأكيد الحذف',
                    cancelButtonText: 'إلغاء'
                }).then((result) => {
                    if (result.value) {
                        let loader = this.$loading.show({
                            loader: 'dots',
                        });
                        deleteCategory(category_id).then((response) => {
                            this.categories = response.data;
                            loader.hide();
                            this.$swal('','تم حذف القسم بنجاح','success');
                        }).catch((error) => {
                            loader.hide();
                            if (error.response.data.message != null) {
                                this.$swal('', error.response.data.message, 'error');
                            } else {
                                this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                            }
                        });
                    }
                })
            },

            editCategoryInfo() {
                var formData = new FormData();
                for ( var key in this.categoryInfo ) {
                    formData.append(key, this.categoryInfo[key] === null ? '':this.categoryInfo[key]);
                }

                this.$v.categoryInfo.$touch();
                if (!this.$v.categoryInfo.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.editButton,
                    });
                    updateCategory(formData).then((response) => {
                        this.categories = response.data;
                        loader.hide();
                        this.editCategory = false;
                        this.$swal('','تم تعديل بيانات القسم بنجاح','success');
                    }).catch((error) => {
                        loader.hide();
                        if (error.response.data.message != null) {
                            this.$swal('', error.response.data.message, 'error');
                        } else {
                            this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                        }
                    });
                }
            },

            editCategoryModal(category){
                this.categoryInfo.id = category.id;
                this.categoryInfo.name = category.name;
                this.categoryInfo.description = category.description;
                this.editCategory = true;
            },

            addCategoryInfo() {
                var formData = new FormData();
                formData.append('name' , this.newCategory.name)
                formData.append('type' , this.newCategory.type)
                formData.append('description' , this.newCategory.description)
                formData.append('photo' , this.newCategory.photo)

                // for ( var key in this.newCategory ) {
                //     formData.append(key, this.newCategory[key] === null ? '':this.categoryInfo[key]);
                // }

                this.$v.newCategory.$touch();
                if (!this.$v.newCategory.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.addButton,
                    });
                    addCategory(formData).then((response) => {
                        this.categories = response.data;
                        this.$v.newCategory.$reset();
                        loader.hide();
                        this.addCategory = false;
                        this.newCategory = {name: null, description: null, type: 1};
                        this.$swal('','تم إضافة القسم بنجاح','success');
                    }).catch((error) => {
                        loader.hide();
                        if (error.response.data.message != null) {
                            this.$swal('', error.response.data.message, 'error');
                        } else {
                            this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                        }
                    });
                }
            },

            EditCatOrder() {
                this.orderCat.modalStatus = true;
            },

            reorderCategory() {
                let cats = this.$refs.ordered.categories;
                let lastData = {orders: cats.map((cat)=> {return {order:cats.indexOf(cat)+1, id:cat.id};})};
                console.log(lastData);
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                reorderCategories(lastData).then( (response) => {
                    this.categories = response.data;
                    loader.hide();
                    this.orderCat.modalStatus = false;
                    this.$swal('','تم اعادة ترتيب الاقسام بنجاح','success');
                }).catch((error) => {
                    loader.hide();
                    if (error.response.data.message != null) {
                        this.$swal('', error.response.data.message, 'error');
                    } else {
                        this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                    }
                });
            }
        }

    }
</script>
