<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>

<script>

    export default {

        name: 'app',
        data() {
            return {}
        },

    }
</script>

<style lang="scss">
    @import './vendors/font-awesome/css/font-awesome.min.css';
    @import './vendors/MaterialDesign/css/materialdesignicons.min.css';
    @import './vendors/pe-icon-7-stroke/css/pe-icon-7-stroke.css';
    @import './vendors/bootstrap/bootstrap-grid.min.css';
    @import './vendors/bootstrap/bootstrap-custom.css';
    @import './vendors/main-style';
</style>