<template>
    <div>
        <!-- Header -->
        <Header/>
        <!-- Sidebar -->
        <Sidebar/>

        <!-- Components -->
        <div class="content-wrap">
            <transition name="slide">
                <router-view :key="$route.path"></router-view>
            </transition>
        </div>
        <!-- Footer -->
        <Footer/>

    </div>
</template>

<script>
    import Header from './components/layout/Header.vue'
    import Sidebar from './components/layout/Sidebar.vue'
    import Footer from './components/layout/Footer.vue'

    export default {
        name: 'app',
        data() {
            return {}
        },
        components: {
            Header,
            Sidebar,
            Footer,
        },
        methods: {}
    }
</script>

<style lang="scss">
    @import './vendors/font-awesome/css/font-awesome.min.css';
    @import './vendors/MaterialDesign/css/materialdesignicons.min.css';
    @import './vendors/pe-icon-7-stroke/css/pe-icon-7-stroke.css';
    @import './vendors/bootstrap/bootstrap-grid.min.css';
    @import './vendors/bootstrap/bootstrap-custom.css';
    @import './vendors/main-style';
</style>
