<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title col-3">
                            <span class="ml-4">
                                <i class="fa fa-comments fa-lg"></i>
                                البلاغات
                            </span>
                        </p>
                    </header>
                    <div class="card-content">

                        <b-table
                                :data="complaints"
                                :paginated="isPaginated"
                                :per-page="perPage"
                                :current-page.sync="currentPage"
                                :pagination-simple="isPaginationSimple"
                                :default-sort-direction="defaultSortDirection"
                                :bordered="true"
                                :loading="isLoading"
                                :row-class="(row, index) => row.index = index"
                                striped
                                narrowed
                                default-sort="id">

                            <template slot-scope="props">
                                <b-table-column field="id" label="رقم البلاغ" centered>
                                    {{ props.row.id }}
                                </b-table-column>
                                <b-table-column field="created_at" label="تاريخ الابلاغ" centered>
                                    {{ moment(props.row.created_at) }}
                                </b-table-column>
                                <b-table-column field="title" label="المبلغ" centered>
                                    {{ props.row.reporter }}
                                </b-table-column>

                                <b-table-column field="Edit" label="المبلغ عنه" width="100" centered>
                                    <router-link v-if="props.row.type == 2" :to="'/admin/advertisements/show/' + props.row.topic.id"
                                        class="button is-danger btn-circle-md">
                                        <i class="fa fa-comment fa-lg"></i>
                                    </router-link>
                                    <span v-if="props.row.type == 1">
                                        {{ props.row.topic.name }}
                                    </span>
                                </b-table-column>

                                <b-table-column field="show" label="تفاصيل الشكوي" width="150" centered>
                                    <a class="button is-primary btn-circle-md" @click="openMessage(props.row.descriptions)">
                                        <span class="icon"><i class="fa fa-envelope fa-lg"></i></span>
                                    </a>
                                </b-table-column>
                                <b-table-column v-if="props.row.status == 0" field="Edit" label="اغلاق الشكوي" width="100" centered>
                                    <a class="button is-accent btn-circle-md" @click="closeComplaintModal(props.row)">
                                        <span class="icon">
                                            <i class="fa fa-times fa-lg"></i>
                                        </span>
                                    </a>
                                </b-table-column>
                                <b-table-column v-if="props.row.status == 1" field="closed" label="مغلق" centered>
                                    مغلق
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon
                                                    icon="emoticon-sad"
                                                    size="is-large">
                                            </b-icon>
                                        </p>
                                        <p>{{ message }}</p>
                                    </div>
                                </section>
                            </template>

                        </b-table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>


<script>
import {
    getAdvertisements,
    deleteAdvertisement,
    updateAdvertisement,
    getCategories,
    getCities,
    showCategory,
    getComplaints, closeComplaint
} from './../config/apiRoutes';
    import { required } from 'vuelidate/lib/validators'
    var moment = require('moment');

    export default {
        data() {
            return {
                message: 'لا يوجد بلاغات حاليا',
                complaints: [],
                search:'',
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'desc',
                currentPage: 1,
                perPage: 10,
                isLoading: true,
            }
        },

        created: function () {
            this.getData();
        },

        computed: {
            updateSubCategories() {
                if (this.mainCategory !== null) {
                    showCategory(this.mainCategory).then((response) => {
                        this.subCategories = response.data.subCategories;
                        this.subOfSubCategories = [];
                        if (this.categories.length === 0 || this.subCategoryFlag) {
                            this.subCategory = null;
                            this.subOfSubCategory = null;
                        }

                        this.subCategoryFlag = true;
                    }).catch(() => {
                        this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    });
                }
            },

            updateSubOfSubCategories() {
                if (this.subCategory !== null) {
                    showCategory(this.subCategory).then((response) => {
                        this.subOfSubCategories = response.data.subCategories;

                        if (this.subOfSubCategories.length === 0 || this.subOfSubCategoryFlag) {
                            this.subOfSubCategory = null;
                        }

                        this.subOfSubCategoryFlag = true;
                    }).catch(() => {
                        this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    });
                }
            },
        },

        methods:{
            getData() {
                getComplaints('').then((response) => {
                    this.complaints = response.data.complaints;
                    this.isLoading = false;
                }).catch(() => {
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    this.isLoading = false;
                });
            },

            openMessage(message) {
                this.$swal('تفاصيل الشكوي',message);
            },

            closeComplaintModal(row) {
                this.$swal({
                    title: 'هل انت متاكد ؟',
                    text: "هل انت متاكد من رغبتك في اغلاق هذه الشكوي",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'نعم متاكد',
                    cancelButtonText: 'ألغاء'
                }).then((result) => {
                    console.log(result.value)
                    if (result.value) {
                        closeComplaint({id: row.id}).then((response)=>{
                            if(response.data.complaints) {
                                this.complaints = response.data.complaints;
                            }
                            this.$swal('', response.data.message);
                        });
                    }
                });
            },
            moment(date) {
                return moment(date).format('DD/MM/YYYY');
            },
        }

    }
</script>
