<template>
    <footer class="footer">
        <div class="has-text-centered">
            <!--<p>-->
                <!--<strong>@Forsales</strong>-->
            <!--</p>-->
        </div>
    </footer>
</template>
