<template>
    <b-navbar style="padding-right: 280px;">
        <!--<template slot="brand">-->
            <!--<b-navbar-item tag="router-link" :to="{ path: '/' }">-->
                <!--<img style="width: 100px; height: 100px;"-->
                        <!--:src="appUrl+'images/forsales/app.png'"-->
                <!--&gt;-->
            <!--</b-navbar-item>-->
        <!--</template>-->
        <!--<div class="navbar-burger d-block btn-main-g mr-2 ml-0" @click="toggleSidebar" :class="{ active: toggleSide}">-->
            <!--<span></span>-->
            <!--<span></span>-->
            <!--<span></span>-->
        <!--</div>-->
        <template slot="start">
            <b-dropdown v-model="MenuhNav">
                <a class="navbar-item" slot="trigger">
                    <span>  الإعدادات </span>
                    <b-icon icon="menu-down"></b-icon>
                </a>
                <b-dropdown-item style="text-align: right;">
                    <p><strong>{{ adminInfo.name }} </strong></p>
                </b-dropdown-item>
                <hr class="dropdown-divider">
                <b-dropdown-item value="updateProfile" style="text-align: right;">
                    <router-link to="/admin/updateProfile" tag="span">
                        <strong> تعديل البيانات الشخصية</strong>
                        <b-icon icon="settings"></b-icon>
                    </router-link>
                </b-dropdown-item>
                <b-dropdown-item value="addAdmin" style="text-align: right;">
                    <router-link to="/admin/addAdmin" tag="span">
                        <strong>إضافة مستخدم</strong>
                        <b-icon icon="account"></b-icon>
                    </router-link>
                </b-dropdown-item>
                <b-dropdown-item value="logout" @click="logout()" style="text-align: right;">
                    <strong>تسجيل الخروج</strong>
                    <b-icon icon="logout"></b-icon>
                </b-dropdown-item>
            </b-dropdown>
        </template>

        <template slot="end">
            <b-navbar-item href="/admin/home">
                <span class="mr-1"> الصفحة الرئيسية </span>
                <i class="fa fa-home"></i>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
    import {appUrl,EventBus} from '../config/apiConfig';
    import {getAdmin} from '../config/apiRoutes';

    export default {
        data() {
            return {
                adminInfo: {},
                MenuhNav: false,
            }
        },

        created: function () {
            this.getData();
        },

        mounted() {
            EventBus.$on('change-user-info', username => {
                getAdmin().then((response) => {
                    this.adminInfo = response.data;
                });
            });
        },


        methods: {
            getData() {
                getAdmin().then((response) => {
                    this.adminInfo = response.data;
                });
            },

            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('userAuth');
                this.$router.push({path: '/admin/login'});
            },
        }


    }
</script>