

<template>
    <div>
        <sidebar-menu :menu="menu" :width="'250px'" :hideToggle="true" :rtl="true">
            <div slot="header">
                <img style="width: 500px; height: 130px; padding: 20px;"
                     :src="appUrl+'images/forsales/app.png'"
                >
            </div>
        </sidebar-menu>
    </div>
</template>

<script>
    import { SidebarMenu } from 'vue-sidebar-menu'
    import {appUrl} from '../config/apiConfig';
    export default {
        data(){
            return{
                appUrl: appUrl,
                menu: [
                    {

                        title: 'الإعلانات',
                        icon: 'fa fa-shopping-basket',
                        child: [
                            {
                                href: '/admin/advertisements',
                                icon: 'fa fa-line-chart',
                                title: 'الإعلانات الحالية'
                            },
                            {
                                href: '/admin/advertisements/deleted',
                                icon: 'fa fa-minus-square',
                                title: 'الإعلانات المحذوفة'
                            },
                        ]
                    },
                    {
                        href: '/admin/users',
                        title: 'المستخدمين',
                        icon: 'fa fa-users'
                    },
                    {
                        href: '/admin/categories',
                        title: 'أقسام الاعلانات',
                        icon: 'fa fa-adjust'
                    },
                    {
                        href: '/admin/sliders',
                        title: 'الإعلانات الدعائية',
                        icon: 'fa fa-adn'
                    },
                    {
                        href: '/admin/conversations',
                        title: 'محادثات المستخدمين',
                        icon: 'fa fa-cubes'
                    },
                    {
                        href: '/admin/cities',
                        title: 'المدن',
                        icon: 'fa fa-cubes'
                    },
                    {
                        href: '/admin/complaints',
                        title: 'البلاغات',
                        icon: 'fa fa-comments'
                    },
                    {

                        title: 'معلومات التطبيق',
                        icon: 'fa fa-briefcase',
                        child: [
                            {
                                href: '/admin/appMessages',
                                icon: 'fa fa-envelope',
                                title: 'رسائل التطبيق'
                            },
                            {
                                href: '/admin/bankAccounts',
                                icon: 'fa fa-university',
                                title: 'الحسابات البنكية'
                            },
                            {
                                href: '/admin/appInfo',
                                icon: 'fa fa-book',
                                title: 'روابط التطبيق'
                            },
                            {
                                href: '/admin/aboutApp',
                                icon: 'fa fa-bookmark',
                                title: 'عن التطبيق'
                            },
                            {
                                href: '/admin/terms-conditions',
                                icon: 'fa fa-handshake-o',
                                title: 'الشروط والاحكام'
                            },
                            {
                                href: '/admin/usagePolicy',
                                icon: 'fa fa-bullhorn',
                                title: 'سياسة الاستخدام'
                            },
                            {
                                href: '/admin/bannedAds',
                                icon: 'fa fa-ban',
                                title: 'الإعلانات الممنوعة'
                            },
                        ]
                    }
                ],
            }
        },

        components: {
            SidebarMenu
        },

        methods:{

        },
    }
</script>
