<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="ml-4">
                                <i class="fa fa-envelope fa-lg"></i>
                                رسائل التطبيق
                            </span>
                        </p>
                        <b-field position="is-left" class="ml-auto col-6">
                            <b-input rounded placeholder="ابحث بالاسم او البريد الالكتروني للمرسل ..." type="search" icon="magnify" v-model="search"></b-input>
                        </b-field>
                    </header>
                    <div class="card-content">

                        <b-table
                                :data="filterData"
                                :paginated="isPaginated"
                                :per-page="perPage"
                                :current-page.sync="currentPage"
                                :pagination-simple="isPaginationSimple"
                                :default-sort-direction="defaultSortDirection"
                                :bordered="true"
                                :loading="isLoading"
                                striped
                                narrowed
                                default-sort="id">

                            <template slot-scope="props">
                                <b-table-column width="300" field="subject" label="الوقت والتاريخ" centered>
                                    {{ moment(props.row.created_at) }}
                                </b-table-column>
                                <b-table-column width="300" field="name" label="اسم المرسل" centered>
                                    {{ props.row.name }}
                                </b-table-column>
                                <b-table-column width="300" field="email" label="البريد الالكتروني" centered>
                                    {{ props.row.email }}
                                </b-table-column>
                                <b-table-column width="500" field="subject" label="عنوان الرسالة" centered>
                                    {{ props.row.subject }}
                                </b-table-column>

                                <b-table-column width="150" field="seen" label="حالة الرسالة" centered>
                                    <b-tag v-if="props.row.seen === 1" type="is-success">تمت القراءة</b-tag>
                                    <b-tag v-else type="is-danger">لم تقرأ</b-tag>
                                </b-table-column>
                                <b-table-column field="show" label="عرض التفاصيل" width="150" centered>
                                    <router-link :to="'/admin/appMessages/show/' + props.row.id"
                                                 class="button is-accent btn-circle-md">
                                        <span class="icon">
                                            <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                                        </span>
                                    </router-link>
                                </b-table-column>


                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon
                                                    icon="emoticon-sad"
                                                    size="is-large">
                                            </b-icon>
                                        </p>
                                        <p>{{ message }}</p>
                                    </div>
                                </section>
                            </template>

                        </b-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>


<script>
    import {getAppMessages} from './../config/apiRoutes'
    var moment = require('moment');

    export default {
        data() {
            return {
                message: 'لا يوجد رسايل حاليا',
                appMessages: [],
                search:'',
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'desc',
                currentPage: 1,
                perPage: 10,
                isLoading: true,
            }
        },

        created: function () {
            this.getData();
        },

        computed: {
            filterData() {
                this.search = this.search.trim();
                return this.appMessages.filter(appMessage => {
                    return appMessage.name.toLowerCase().includes(this.search.toLowerCase())
                        || appMessage.email.toLowerCase().includes(this.search.toLowerCase())
                });
            },
        },

        methods:{
            getData() {
                getAppMessages().then((response) => {
                    this.appMessages = response.data;
                    this.isLoading = false;
                }).catch(() => {
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    this.isLoading = false;
                });
            },

            moment(date) {
                return moment(date).format('DD/MM/YYYY,HH:mm:ss');
            },
        }

    }
</script>
