<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="ml-4">
                                <i class="fa fa-envelope fa-lg"></i>
                                تفاصيل الرسالة
                            </span>
                        </p>
                    </header>
                    <div class="card-content">
                        <b-table :data="data" :loading="isLoading" :bordered="true" striped>
                            <template slot-scope="props">
                                <b-table-column width="300" label=" " centered>
                                    {{ props.row.name }}
                                </b-table-column>
                                <b-table-column label="  " centered>
                                    {{ props.row.name === 'الوقت والتاريخ'? moment(props.row.content):props.row.content }}
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon icon="emoticon-sad" size="is-large"></b-icon>
                                        </p>
                                        <p>{{ message }}</p>
                                    </div>
                                </section>
                            </template>
                        </b-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {showAppMessage} from '../config/apiRoutes';
    var moment = require('moment');

    export default {
        data() {
            return {
                message: '',
                appMessage_id: this.$route.params.appMessage_id,
                appMessageInfo: {},
                data: [],
                isLoading: true,
            }
        },

        created: function () {
            this.getData();
        },

        methods: {
            getData() {
                showAppMessage(this.appMessage_id).then((response) => {
                    this.appMessageInfo = response.data;
                    this.data = [
                        {name:'الوقت والتاريخ',content: this.appMessageInfo.created_at},
                        {name:'اسم المرسل',content: this.appMessageInfo.name},
                        {name:'البريد الالكتروني',content: this.appMessageInfo.email},
                        {name:'عنوان الرسالة',content: this.appMessageInfo.subject},
                        {name:'محتوى الرسالة',content: this.appMessageInfo.message}
                    ];

                    this.isLoading = false;
                }).catch(() => {
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    this.isLoading = false;
                });;
            },

            moment(date) {
                return moment(date).format('DD/MM/YYYY,HH:mm:ss');
            },
        }
    }
</script>