<template>
    <div class="root">
        <SlickList lockAxis="y" v-model="categories">
            <SlickItem v-for="(item, index) in categories" :index="index" :key="index" :item="item"/>
        </SlickList>
    </div>
</template>

<script>
    import SlickList from "./SlickList";
    import SlickItem from "./SlickItem";
    export default {
        name: "orderItems",
        props:['items'],
        components: {SlickItem, SlickList},
        data() {
            return {
                categories : this.items,
            }
        }, getCategories: function () {
            return this.categories
        }
    }
</script>

<style scoped>

</style>
