<template>
    <ul class="list-group" style="min-width: 200px;text-align: center;">
        <slot />
    </ul>
</template>

<script>
    import {ContainerMixin} from "vue-slicksort";

    export default {
        name: "SlickList",
        mixins: [ContainerMixin],
    }
</script>

<style scoped>

</style>
