<template>
    <li class="list-group-item">{{item.name}}</li>
</template>

<script>
    import { ContainerMixin, ElementMixin } from 'vue-slicksort';
    export default {
        name: "SlickItem",
        mixins: [ElementMixin],
        props: ['item'],
    }
</script>

<style scoped>

</style>
