<template>
    <!--<div :style="'background-image: url('+appUrl+'images/forsales/login.png)'">-->
    <div class="login-page">
        <form @submit.prevent="login">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">تسجيل الدخول</p>
                </header>
                <section class="modal-card-body">
                    <b-field label="اسم المستخدم">
                        <b-input
                                type="text"
                                :class="{'formValidation': $v.username.$error}"
                                v-model.trim="$v.username.$model"
                                placeholder="اسم المستخدم">
                        </b-input>
                    </b-field>

                    <b-field label="كلمة المرور">
                        <b-input
                                type="password"
                                :class="{'formValidation': $v.password.$error}"
                                v-model.trim="$v.password.$model"
                                password-reveal
                                placeholder="كلمة المرور">
                        </b-input>
                    </b-field>
                    <p style="color: red;">{{ errorMessage }}</p>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-primary is-fullwidth" ref="loginButton">تسجيل الدخول</button>
                </footer>
            </div>
        </form>
    </div>
    <!--</div>-->
</template>

<script>
    import {appUrl,client_Id, client_Secret} from '../config/apiConfig'
    import {login} from '../config/apiRoutes'
    import { required,minLength } from 'vuelidate/lib/validators'
    export default {
        data(){
            return{
                appUrl: appUrl,
                username: null,
                password: null,
                errorMessage: null
            }
        },

        validations: {
            username: {required},
            password: {required,minLength: minLength(6)},
        },

        created() {
            window.addEventListener('enter', this.login);
        },
        destroyed() {
            window.removeEventListener('enter', this.login);
        },

        methods:{
            login() {
                var loginForm = {
                    client_id: client_Id,
                    client_secret: client_Secret,
                    username: this.username,
                    password: this.password,
                    grant_type: 'password',
                    authProvider: 'admin',
                };
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.loginButton,
                    });

                    login(loginForm).then((response) => {
                        localStorage.setItem('token', JSON.stringify(response.data.token_type + ' ' + response.data.access_token));
                        localStorage.setItem('userAuth', JSON.stringify(true));
                        this.$router.push({path: '/admin/home'});
                    }).catch(() => {
                        loader.hide();
                        this.errorMessage = 'اسم المستخدم أو كلمة المرور غير صحيحة';
                    });
                }
            }
        },
    }
</script>
