<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="ml-4">
                                <i class="fa fa-adn fa-lg"></i>
                                الإعلانات الدعائية
                            </span>
                        </p>
                    </header>
                    <div class="card-content">

                        <b-table
                                :data="sliders"
                                :paginated="isPaginated"
                                :per-page="perPage"
                                :current-page.sync="currentPage"
                                :pagination-simple="isPaginationSimple"
                                :default-sort-direction="defaultSortDirection"
                                :bordered="true"
                                :loading="isLoading"
                                striped
                                narrowed
                                default-sort="id">

                            <template slot-scope="props">
                                <b-table-column width="300" field="image" label="" sortable centered>
                                    <a v-if="props.row.photo">
                                        <img style="width: 150px; height: 100px;"
                                         @click="openImageModal(props.row.photo)" :src="appUrl+props.row.photo">
                                    </a>
                                </b-table-column>
                                <b-table-column width="300" field="link" label="الرابط/رقم الإعلان" centered>
                                    <router-link v-if="props.row.advertisement_id" :to="'/admin/advertisements/show/' + props.row.advertisement_id">
                                        {{ props.row.advertisement_id }}
                                    </router-link>
                                    <a v-else-if="props.row.link" :href="props.row.link">
                                        <p style="direction: ltr !important;">{{ props.row.link }}</p>
                                    </a>
                                </b-table-column>

                                <b-table-column field="change" label="تفعيل/إلغاء تفعيل" width="100" centered>

                                    <span @click="changeSliderStatus(props.row.id)">
                                        <b-switch  style="direction: ltr;" v-model="props.row.status"
                                              true-value="0"
                                              false-value="1">
                                        </b-switch>
                                    </span>
                                </b-table-column>
                                <b-table-column field="Edit" label="تعديل" width="100" centered>
                                    <a class="button is-accent btn-circle-md" @click="editSliderModal(props.row)">
                                        <span class="icon">
                                            <i class="mdi mdi-account-edit mdi-24px"></i>
                                        </span>
                                    </a>
                                </b-table-column>
                                <b-table-column field="Delete" label="حذف" width="100" centered>
                                    <a class="button is-danger btn-circle-md" @click="deleteSlider(props.row.id)">
                                        <span class="icon">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    </a>
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon
                                                    icon="emoticon-sad"
                                                    size="is-large">
                                            </b-icon>
                                        </p>
                                        <p>{{ message }}</p>
                                    </div>
                                </section>
                            </template>

                        </b-table>
                        <div class="text-center mb-4">
                            <button @click="addSlider = true" class="button is-info is-medium is-rounded">
                                إضافة إعلان دعائي جديد
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Edit Slider -->
        <b-modal :active.sync="editSlider" :width="680">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">تعديل بيانات الإعلان الدعائي</p>
                </header>
                <section class="modal-card-body">
                    <div class="row">
                        <div v-if="sliderInfo.type === 0" class="col-12 col-md-12 mb-3">
                            <b-field label="رابط الإعلان الدعائي">
                                <b-input placeholder="ادخل رابط الإعلان الدعائي"
                                         v-model="sliderInfo.link"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div v-else-if="sliderInfo.type === 1" class="col-12 col-md-12 mb-3">
                            <b-field label="رقم الإعلان">
                                <b-input placeholder="ادخل رقم الإعلان"
                                         v-model="sliderInfo.advertisement_id"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-3 mt-2">
                            <b-field label="صورة الإعلان الدعائي">
                                <b-upload v-model="sliderInfo.photo">
                                    <a class="button is-primary">
                                        <b-icon icon="upload"></b-icon>
                                        <span class="mr-2">اضغط للتحميل</span>
                                    </a>
                                </b-upload>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-9 mt-5">
                            <span class="col-12 col-md-6" v-if="sliderInfo.photo">{{ sliderInfo.photo.name }}</span>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="editSlider = false">إلغاء</button>
                    <button class="button is-primary" ref="editButton" @click="editSliderInfo()">حفظ التعديلات</button>
                </footer>
            </div>
        </b-modal>

        <!-- add Slider -->
        <b-modal :active.sync="addSlider" :width="680" scroll="keep">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">إضافة إعلان دعائي جديد</p>
                </header>
                <section class="modal-card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="نوع الإعلان الدعائي">
                                <b-select v-model="newSlider.type" expanded>
                                    <option :value="0">رابط خارجي</option>
                                    <option :value="1">إعلان بالتطبيق</option>
                                    <option :value="2">صورة إعلانية</option>
                                </b-select>
                            </b-field>
                        </div>
                        <div v-if="newSlider.type === 0" class="col-12 col-md-12 mb-3">
                            <b-field label="رابط الإعلان الدعائي">
                                <b-input placeholder="ادخل رابط الإعلان الدعائي"
                                v-model="newSlider.link"
                                icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div v-else-if="newSlider.type === 1" class="col-12 col-md-12 mb-3">
                            <b-field label="رقم الإعلان">
                                <b-input placeholder="ادخل رقم الإعلان"
                                         v-model="newSlider.advertisement_id"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-3 mt-2">
                            <b-field label="صورة الإعلان الدعائي">
                                <b-upload v-model="newSlider.photo">
                                    <a class="button is-primary">
                                        <b-icon icon="upload"></b-icon>
                                        <span class="mr-2">اضغط للتحميل</span>
                                    </a>
                                </b-upload>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-9 mt-5">
                            <span class="col-12 col-md-6" v-if="newSlider.photo">{{ newSlider.photo.name }}</span>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="addSlider = false">إلغاء</button>
                    <button class="button is-primary" ref="addButton" @click="addSliderInfo()">حفظ</button>
                </footer>
            </div>
        </b-modal>

        <b-modal :active.sync="imageModal" :width="680" :height="680">
            <p>
                <img :src="appUrl+currentImage">
            </p>
        </b-modal>
    </div>
</template>


<script>
    import {getSliders,addSlider,updateSlider,deleteSlider,changeSliderStatus} from './../config/apiRoutes'
    import { appUrl } from '../config/apiConfig'
    import { required,requiredIf } from 'vuelidate/lib/validators'
    import BField from "buefy/src/components/field/Field";

    export default {
        components: {BField},
        data() {
            return {
                message: 'لا يوجد إعلانات دعائية حاليا',
                appUrl: appUrl,
                sliders: [],
                sliderInfo: {
                    slider_id: null,
                    type: null,
                },
                newSlider: {
                    type: 2,
                },
                editSlider: false,
                addSlider: false,
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'desc',
                currentPage: 1,
                perPage: 10,
                isLoading: true,
                currentImage: null,
                imageModal: false,
            }
        },

        created: function () {
            this.getData();
        },

        methods:{
            getData() {
                getSliders().then((response) => {
                    this.sliders = response.data;
                    this.isLoading = false;
                }).catch(() => {
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    this.isLoading = false;
                });
            },

            deleteSlider(slider_id) {
                this.$swal({
                    title: 'هل انت متأكد ؟',
                    text: "عند الحذف لن تستطيع ارجاع المعلومات مرة أخرى",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'تأكيد الحذف',
                    cancelButtonText: 'إلغاء',
                }).then((result) => {
                    if (result.value) {
                        let loader = this.$loading.show({
                            loader: 'dots',
                        });
                        deleteSlider(slider_id).then((response) => {
                            this.sliders = response.data;
                            loader.hide();
                            this.$swal('','تم حذف الإعلان الدعائي بنجاح','success');
                        }).catch((error) => {
                            loader.hide();
                            if (error.response.data.message != null) {
                                this.$swal('', error.response.data.message, 'error');
                            } else {
                                this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                            }
                        });
                    }
                })
            },

            editSliderInfo() {
                var formData = new FormData();

                for ( var key in this.sliderInfo ) {
                    formData.append(key, this.sliderInfo[key] === null ? '':this.sliderInfo[key]);
                }

                let loader = this.$loading.show({
                    loader: 'dots',
                    container: this.$refs.editButton,
                });

                updateSlider(formData).then((response) => {
                    this.sliders = response.data;
                    loader.hide();
                    this.editSlider = false;
                    this.$swal('','تم تعديل بيانات الإعلان الدعائي بنجاح','success');
                }).catch((error) => {
                    loader.hide();
                    if (error.response.data.message != null) {
                        this.$swal('', error.response.data.message, 'error');
                    } else {
                        this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                    }
                });

            },

            editSliderModal(slider){
                this.sliderInfo.slider_id = slider.id;
                this.sliderInfo.type = slider.type;
                if (slider.type === 0) {
                    this.sliderInfo.link = slider.link;
                } else {
                    this.sliderInfo.advertisement_id = slider.advertisement_id;
                }
                this.editSlider = true;
            },

            addSliderInfo() {
                var formData = new FormData();
                formData.append('type',this.newSlider.type);
                if (this.newSlider.type === 0){
                    formData.delete('advertisement_id');
                    formData.append('link',this.newSlider.link === null ? '':this.newSlider.link);
                }else if(this.newSlider.type === 2) {
                    formData.delete('advertisement_id');
                    formData.delete('link');
                } else {
                    formData.delete('link');
                    formData.append('advertisement_id',this.newSlider.advertisement_id === null ? '':this.newSlider.advertisement_id);
                }
                if (this.newSlider.photo) {
                    formData.append('photo',this.newSlider.photo);
                }

                let loader = this.$loading.show({
                    loader: 'dots',
                    container: this.$refs.addButton,
                });

                addSlider(formData).then((response) => {
                    this.sliders = response.data;
                    loader.hide();
                    this.addSlider = false;
                    this.newSlider = {type: 2};
                    this.$swal('','تم إضافة الإعلان الدعائي بنجاح','success');
                }).catch((error) => {
                    loader.hide();
                    if (error.response.data.message != null) {
                        this.$swal('', error.response.data.message, 'error');
                    } else {
                        this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                    }
                });
            },
            changeSliderStatus(slider_id) {
                let loader = this.$loading.show({
                    loader: 'spinner',
                });
                changeSliderStatus(slider_id).then((response) => {
                    this.sliders = response.data;
                    loader.hide();
                }).catch(() => {
                    this.getData();
                    loader.hide();
                    this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                });
            },

            openImageModal(image) {
                this.currentImage = image;
                this.imageModal = true;
            },
        }

    }
</script>
