<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title col-3">
                            <span class="ml-4">
                                <i class="fa fa-line-chart fa-lg"></i>
                                الإعلانات المحذوفة
                            </span>
                        </p>
                        <b-field position="is-left" class="mt-2 col-5">
                            <b-input rounded placeholder="رقم الاعلان او عنوان الاعلان او اسم صاحب الاعلان" type="search" icon="magnify" v-model="search"></b-input>
                        </b-field>
                        <div class="control is-flex mt-2 col-2">
                            <b-select v-model="category_id" :input="getAdsByCategory">
                                <option :value="null">كل الأقسام</option>
                                <option v-for="(category,i) in categories" :key="i" :value="category.id">{{ category.name }}</option>
                            </b-select>
                        </div>
                        <div class="control is-flex mt-2 col-2">
                            <b-select v-model="city_id" :input="getAdsByCity">
                                <option :value="null">كل المدن</option>
                                <option v-for="(city,i) in cities" :key="i" :value="city.id">{{ city.name }}</option>
                            </b-select>
                        </div>
                    </header>
                    <div class="card-content">

                        <b-table
                                :data="filterData"
                                :paginated="isPaginated"
                                :per-page="perPage"
                                :current-page.sync="currentPage"
                                :pagination-simple="isPaginationSimple"
                                :default-sort-direction="defaultSortDirection"
                                :bordered="true"
                                :loading="isLoading"
                                striped
                                narrowed
                                default-sort="id">

                            <template slot-scope="props">
                                <b-table-column field="id" label="رقم الإعلان" centered>
                                    {{ props.row.id }}
                                </b-table-column>
                                <b-table-column field="created_at" label="التاريخ" centered>
                                    {{ moment(props.row.created_at) }}
                                </b-table-column>
                                <b-table-column field="title" label="عنوان الإعلان" centered>
                                    {{ props.row.title }}
                                </b-table-column>
                                <b-table-column  field="username" label="صاحب الإعلان" centered>
                                    {{ props.row.user.name }}
                                </b-table-column>
                                <b-table-column  field="city" label="المدينة" centered>
                                    {{ props.row.city.name }}
                                </b-table-column>
                                <b-table-column field="category" label="القسم" centered>
                                    {{ props.row.category.name }}
                                </b-table-column>

                                <b-table-column field="show" label="عرض التفاصيل" width="150" centered>
                                    <router-link :to="'/admin/advertisements/show/' + props.row.id"
                                                 class="button is-accent btn-circle-md">
                                        <span class="icon">
                                            <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                                        </span>
                                    </router-link>
                                </b-table-column>

                                <!--<b-table-column field="Delete" label="حذف" width="100" centered>-->
                                <!--<a class="button is-danger btn-circle-md" @click="deleteAdvertisement(props.row.id)">-->
                                <!--<span class="icon">-->
                                <!--<i class="fa fa-trash"></i>-->
                                <!--</span>-->
                                <!--</a>-->
                                <!--</b-table-column>-->
                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon
                                                    icon="emoticon-sad"
                                                    size="is-large">
                                            </b-icon>
                                        </p>
                                        <p>{{ message }}</p>
                                    </div>
                                </section>
                            </template>

                        </b-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>


<script>
    import {getDeletedAdvertisements,deleteAdvertisement,getCategories,getCities} from './../config/apiRoutes';
    var moment = require('moment');

    export default {
        data() {
            return {
                message: 'لا يوجد إعلانات محذوفة حاليا',
                advertisements: [],
                filterAdvertisements: [],
                categories: [],
                cities: [],
                category_id: null,
                city_id: null,
                search:'',
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'desc',
                currentPage: 1,
                perPage: 10,
                isLoading: true,
            }
        },

        created: function () {
            this.getData();
        },

        computed: {
            filterData() {
                this.search = this.search.trim();
                return this.filterAdvertisements.filter(advertisement => {
                    return advertisement.id === parseInt(this.search)
                        || ( advertisement.user != undefined && advertisement.user.name.toLowerCase().includes(this.search.toLowerCase()) )
                        || advertisement.title.toLowerCase().includes(this.search.toLowerCase())
                });
            },

            getAdsByCategory() {
                if (this.category_id != null) {
                    this.isLoading = true;
                    getDeletedAdvertisements('?category_id='+this.category_id+(this.city_id === null ? '':'&city_id='+this.city_id)).then((response) => {
                        this.filterAdvertisements = response.data;
                        this.isLoading = false;
                    }).catch(() => {
                        this.filterAdvertisements = [];
                        this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                        this.isLoading = false;
                    });
                } else {
                    this.filterAdvertisements = this.advertisements;
                }
            },
            getAdsByCity() {
                if (this.city_id != null) {
                    this.isLoading = true;
                    getDeletedAdvertisements('?city_id='+this.city_id+(this.category_id === null ? '':'&category_id='+this.category_id)).then((response) => {
                        this.filterAdvertisements = response.data;
                        this.isLoading = false;
                    }).catch(() => {
                        this.filterAdvertisements = [];
                        this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                        this.isLoading = false;
                    });
                } else {
                    this.filterAdvertisements = this.advertisements;
                }
            },
        },

        methods:{
            getData() {
                getDeletedAdvertisements('').then((response) => {
                    this.advertisements = response.data;
                    this.filterAdvertisements = response.data;
                    this.isLoading = false;
                }).catch(() => {
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    this.isLoading = false;
                });

                getCategories('').then((response) => {
                    this.categories = response.data;
                });

                getCities().then((response) => {
                    this.cities = response.data;
                });
            },

            deleteAdvertisement(advertisement_id) {
                this.$swal({
                    title: 'هل انت متأكد ؟',
                    text: "عند الحذف لن تستطيع ارجاع المعلومات مرة أخرى",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'تأكيد الحذف',
                    cancelButtonText: 'إلغاء'
                }).then((result) => {
                    if (result.value) {
                        let loader = this.$loading.show({
                            loader: 'dots',
                        });
                        deleteAdvertisement(advertisement_id).then((response) => {
                            this.advertisements = response.data;
                            loader.hide();
                            this.$swal('','تم حذف الإعلان بنجاح','success');
                        }).catch((error) => {
                            loader.hide();
                            if (error.response.data.message != null) {
                                this.$swal('', error.response.data.message, 'error');
                            } else {
                                this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                            }
                        });
                    }
                })
            },

            moment(date) {
                return moment(date).format('DD/MM/YYYY');
            },
        }

    }
</script>
