<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title col-3">
                            <span class="ml-4">
                                <i class="fa fa-line-chart fa-lg"></i>
                                الإعلانات الحالية
                            </span>
                        </p>
                        <b-field position="is-left" class="mt-2 col-5">
                            <b-input rounded placeholder="رقم الاعلان او عنوان الاعلان او اسم صاحب الاعلان" type="search" icon="magnify" v-model="search"></b-input>
                        </b-field>
                        <div class="control is-flex mt-2 col-2">
                            <b-select v-model="category_id" :input="filterAds">
                                <option :value="null">كل الأقسام</option>
                                <option v-for="(category,i) in categories" :key="i" :value="category.id">{{ category.name }}</option>
                            </b-select>
                        </div>
                        <div class="control is-flex mt-2 col-2">
                            <b-select v-model="city_id" :input="filterAds">
                                <option :value="null">كل المدن</option>
                                <option v-for="(city,i) in cities" :key="i" :value="city.id">{{ city.name }}</option>
                            </b-select>
                        </div>
                    </header>
                    <div class="card-content">

                        <b-table
                                :data="filterData"
                                :paginated="isPaginated"
                                :per-page="perPage"
                                :current-page.sync="currentPage"
                                :pagination-simple="isPaginationSimple"
                                :default-sort-direction="defaultSortDirection"
                                :bordered="true"
                                :loading="isLoading"
                                :row-class="(row, index) => row.index = index"
                                striped
                                narrowed
                                default-sort="id">

                            <template slot-scope="props">
                                <b-table-column field="id" label="رقم الإعلان" centered>
                                    {{ props.row.id }}
                                </b-table-column>
                                <b-table-column field="created_at" label="التاريخ" centered>
                                    {{ moment(props.row.created_at) }}
                                </b-table-column>
                                <b-table-column field="title" label="عنوان الإعلان" centered>
                                    {{ props.row.title }}
                                </b-table-column>
                                <b-table-column  field="username" label="صاحب الإعلان" centered>
                                    {{ props.row.user !== null ? props.row.user.name : ""}}
                                </b-table-column>
                                <b-table-column  field="mobile" label="رقم الجوال" centered>
                                    <p style="direction: ltr;">{{ props.row.mobile }}</p>
                                </b-table-column>
                                <b-table-column  field="city" label="المدينة" centered>
                                    {{ props.row.city.name }}
                                </b-table-column>
                                <b-table-column field="category" label="القسم" centered>
                                    {{ props.row.category.name }}
                                </b-table-column>

                                <b-table-column field="show" label="عرض التفاصيل" width="150" centered>
                                    <router-link :to="'/admin/advertisements/show/' + props.row.id"
                                                 class="button is-accent btn-circle-md">
                                        <span class="icon">
                                            <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                                        </span>
                                    </router-link>
                                </b-table-column>
                                <b-table-column field="Edit" label="تعديل" width="100" centered>
                                    <a class="button is-accent btn-circle-md" @click="editAdvertisementModal(props.row,props.row.index)">
                                        <span class="icon">
                                            <i class="mdi mdi-account-edit mdi-24px"></i>
                                        </span>
                                    </a>
                                </b-table-column>
                                <b-table-column field="Delete" label="حذف" width="100" centered>
                                    <a class="button is-danger btn-circle-md" @click="deleteAdvertisement(props.row.id)">
                                        <span class="icon">
                                            <i class="mdi mdi-account-remove mdi-24px"></i>
                                        </span>
                                    </a>
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon
                                                    icon="emoticon-sad"
                                                    size="is-large">
                                            </b-icon>
                                        </p>
                                        <p>{{ message }}</p>
                                    </div>
                                </section>
                            </template>

                        </b-table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Advertisement -->
        <b-modal :active.sync="editAdvertisement" :width="680">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">تعديل بيانات الإعلان</p>
                </header>
                <section class="modal-card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="عنوان الإعلان" :type="$v.advertisementInfo.title.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل عنوان الإعلان"
                                         v-model.trim="$v.advertisementInfo.title.$model"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="رقم الجوال" :type="$v.advertisementInfo.mobile.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل رقم الجوال"
                                         v-model.trim="$v.advertisementInfo.mobile.$model"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="المدينة" :type="$v.advertisementInfo.city_id.$error ? 'is-danger' : ''">
                                <b-select v-model.trim="$v.advertisementInfo.city_id.$model" expanded>
                                    <option v-for="(city,i) in cities" :key="i" :value="city.id">{{ city.name }}</option>
                                </b-select>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3" v-if="mainCategory">
                            <b-field label="القسم الرئيسي">
                                <b-select v-model="mainCategory" :input="updateSubCategories" expanded>
                                    <option v-for="(category,i) in categories" :key="i" v-if="category.type === 1" :value="category.id">{{ category.name }}</option>
                                </b-select>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3" v-if="this.subCategories.length > 0">
                            <b-field label="القسم الفرعي">
                                <b-select v-model="subCategory" :input="updateSubOfSubCategories"
                                          placeholder="اختر القسم الفرعي" expanded>
                                    <option v-for="(category,i) in subCategories" :key="i" :value="category.id">{{ category.name }}</option>
                                </b-select>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-12 mb-3" v-if="this.subOfSubCategories.length > 0">
                            <b-field label="القسم الفرعي من الفرعي">
                                <b-select placeholder="اختر القسم الفرعي من الفرعي" v-model="subOfSubCategory" expanded>
                                    <option v-for="(category,i) in subOfSubCategories" :key="i" :value="category.id">{{ category.name }}</option>
                                </b-select>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="العنوان">
                                <b-input placeholder="ادخل عنوان صاحب الإعلان"
                                         v-model="advertisementInfo.address"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="وصف الإعلان">
                                <b-input placeholder="ادخل وصف الإعلان" type="textarea" rows="2"
                                         v-model="advertisementInfo.description"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="صور الإعلان">
                                <b-upload v-model="advertisementInfo.photos"
                                          multiple
                                          drag-drop class="col-12">
                                    <section class="section">
                                        <div class="content has-text-centered">
                                            <p>
                                                <b-icon
                                                        icon="upload"
                                                        size="is-medium">
                                                </b-icon>
                                            </p>
                                            <p>ضع ملفاتك هنا أو انقر للتحميل</p>
                                        </div>
                                    </section>
                                </b-upload>
                            </b-field>
                            <div class="tags">
                                <span v-for="(photo, index) in advertisementInfo.photos"
                                      :key="index"
                                      class="tag is-primary ml-3" >
                                    {{photo.name}}
                                    <button class="delete is-small mr-2"
                                            type="button"
                                            @click="deletePhoto(index)">
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 mt-2">
                            <b-field label="فيديو الإعلان">
                                <b-upload v-model="advertisementInfo.video">
                                    <a class="button is-primary">
                                        <b-icon icon="upload"></b-icon>
                                        <span class="mr-2">اضغط للتحميل</span>
                                    </a>
                                </b-upload>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-9 mt-5">
                            <span class="col-12 col-md-6" v-if="advertisementInfo.video">{{ advertisementInfo.video.name }}</span>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="editAdvertisement = false">إلغاء</button>
                    <button class="button is-primary" ref="editButton" @click="editAdvertisementInfo()">حفظ التعديلات</button>
                </footer>
            </div>
        </b-modal>
    </div>
</template>


<script>
    import {getAdvertisements,deleteAdvertisement,updateAdvertisement,getCategories,getCities,showCategory} from './../config/apiRoutes';
    import { required } from 'vuelidate/lib/validators'
    var moment = require('moment');

    export default {
        data() {
            return {
                message: 'لا يوجد إعلانات حاليا',
                advertisements: [],
                advertisementInfo: {
                    advertisement_id: null,
                    title: null,
                    description: null,
                    mobile: null,
                    address: null,
                    city_id: null,
                    category_id: null,
                    photos: []
                },
                editAdvertisement: false,
                categories: [],
                subCategories: [],
                subOfSubCategories: [],
                subCategoryFlag: false,
                subOfSubCategoryFlag: false,
                cities: [],
                category_id: null,
                city_id: null,
                mainCategory: null,
                subCategory: null,
                subOfSubCategory: null,
                search:'',
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'desc',
                currentPage: 1,
                perPage: 10,
                isLoading: true,
            }
        },

        validations: {
            advertisementInfo: {
                advertisement_id: {required},
                title: {required},
                mobile: {required},
                city_id: {required},
                category_id: {required},
            }
        },

        created: function () {
            this.getData();
        },

        computed: {
            filterData() {
                this.search = this.search.trim();
                return this.advertisements.filter(advertisement => {
                    return advertisement.id === parseInt(this.search)
                        || (advertisement.user !== null && advertisement.user.name.toLowerCase().includes(this.search.toLowerCase()))
                        || advertisement.title.toLowerCase().includes(this.search.toLowerCase())
                });
            },

            filterAds() {
                this.isLoading = true;

                var queryString = '';
                if (this.category_id !== null && this.city_id === null){
                    queryString = queryString+'?category_id='+this.category_id;
                } else if (this.city_id !== null && this.category_id === null) {
                    queryString = queryString+'?city_id='+this.city_id;
                } else if (this.city_id !== null && this.category_id !== null) {
                    queryString = queryString+'?category_id='+this.category_id+'&city_id='+this.city_id;
                }

                getAdvertisements(queryString).then((response) => {
                    this.advertisements = response.data;
                    this.isLoading = false;
                }).catch(() => {
                    this.advertisements = [];
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    this.isLoading = false;
                });
            },

            updateSubCategories() {
                if (this.mainCategory !== null) {
                    showCategory(this.mainCategory).then((response) => {
                        this.subCategories = response.data.subCategories;
                        this.subOfSubCategories = [];
                        if (this.categories.length === 0 || this.subCategoryFlag) {
                            this.subCategory = null;
                            this.subOfSubCategory = null;
                        }

                        this.subCategoryFlag = true;
                    }).catch(() => {
                        this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    });
                }
            },

            updateSubOfSubCategories() {
                if (this.subCategory !== null) {
                    showCategory(this.subCategory).then((response) => {
                        this.subOfSubCategories = response.data.subCategories;

                        if (this.subOfSubCategories.length === 0 || this.subOfSubCategoryFlag) {
                            this.subOfSubCategory = null;
                        }

                        this.subOfSubCategoryFlag = true;
                    }).catch(() => {
                        this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    });
                }
            },
        },

        methods:{
            getData() {
                getAdvertisements('').then((response) => {
                    this.advertisements = response.data;
                    this.isLoading = false;
                }).catch(() => {
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    this.isLoading = false;
                });

                getCategories('').then((response) => {
                    this.categories = response.data;
                });

                getCities().then((response) => {
                    this.cities = response.data;
                });
            },

            editAdvertisementInfo() {
                if (this.subOfSubCategory) {
                    this.advertisementInfo.category_id = this.subOfSubCategory;
                } else if (this.subCategory) {
                    this.advertisementInfo.category_id = this.subCategory;
                } else {
                    this.advertisementInfo.category_id = this.mainCategory;
                }

                var formData = new FormData();

                for ( var key in this.advertisementInfo ) {
                    if (key === 'photos') {
                        for (var i in this.advertisementInfo.photos) {
                            formData.append('photos[]', this.advertisementInfo.photos[i]);
                        }
                    } else {
                        formData.append(key, this.advertisementInfo[key] === null ? '':this.advertisementInfo[key]);
                    }
                }

                this.$v.advertisementInfo.$touch();
                if (!this.$v.advertisementInfo.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.editButton,
                    });
                    updateAdvertisement(formData).then((response) => {
                        this.advertisements.splice(this.advertisementInfo.index, 1);
                        this.advertisements.splice(this.advertisementInfo.index, 0, response.data);
                        loader.hide();
                        this.editAdvertisement = false;
                        this.$swal('','تم تعديل بيانات الإعلان بنجاح','success');

                    }).catch((error) => {
                        loader.hide();
                        if (error.response.data.message != null) {
                            this.$swal('', error.response.data.message, 'error');
                        } else {
                            this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                        }
                    });
                }
            },

            editAdvertisementModal(advertisement,index){
                this.subCategoryFlag = false;
                this.subOfSubCategoryFlag = false;

                if (advertisement.category.category !== null) {
                    if (advertisement.category.category.category !== null) {
                        this.mainCategory = advertisement.category.category.category.id;
                        this.subCategory = advertisement.category.category.id;
                        this.subOfSubCategory = advertisement.category.id;
                    } else {

                        this.mainCategory = advertisement.category.category.id;
                        this.subCategory = advertisement.category.id;
                        this.subOfSubCategory =  null;

                    }
                } else {
                    this.mainCategory = advertisement.category.id;
                    this.subCategory = null;
                    this.subOfSubCategory =  null;
                }

                this.advertisementInfo.index = index;
                this.advertisementInfo.advertisement_id = advertisement.id;
                this.advertisementInfo.title = advertisement.title;
                this.advertisementInfo.description = advertisement.description;
                this.advertisementInfo.mobile = advertisement.mobile;
                this.advertisementInfo.city_id = advertisement.city_id;
                this.advertisementInfo.address = advertisement.address;
                this.advertisementInfo.category_id = advertisement.category_id;
                this.editAdvertisement = true;
            },

            deletePhoto(index) {
                this.advertisementInfo.photos.splice(index, 1);
            },

            deleteAdvertisement(advertisement_id) {
                this.$swal({
                    title: 'هل انت متأكد ؟',
                    text: "عند الحذف لن تستطيع ارجاع المعلومات مرة أخرى",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'تأكيد الحذف',
                    cancelButtonText: 'إلغاء'
                }).then((result) => {
                    if (result.value) {
                        let loader = this.$loading.show({
                            loader: 'dots',
                        });
                        deleteAdvertisement(advertisement_id).then((response) => {
                            this.advertisements = response.data;
                            loader.hide();
                            this.$swal('','تم حذف الإعلان بنجاح','success');
                        }).catch((error) => {
                            loader.hide();
                            if (error.response.data.message != null) {
                                this.$swal('', error.response.data.message, 'error');
                            } else {
                                this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                            }
                        });
                    }
                })
            },

            moment(date) {
                return moment(date).format('DD/MM/YYYY');
            },
        }

    }
</script>
