<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="ml-4">
                                <i class="fa fa-envelope fa-lg"></i>
                                تفاصيل الإعلان
                            </span>
                        </p>
                    </header>
                    <div class="card-content">
                        <b-table :data="data" :loading="isLoading" :bordered="true" striped>
                            <template slot-scope="props" v-if="props.row.content">
                                <b-table-column width="300" label=" " centered>
                                    {{ props.row.name }}
                                </b-table-column>
                                <b-table-column label="  " centered>
                                    {{ props.row.name === 'التاريخ'? moment(props.row.content):props.row.content }}
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon icon="emoticon-sad" size="is-large"></b-icon>
                                        </p>
                                        <p>{{ message }}</p>
                                    </div>
                                </section>
                            </template>
                        </b-table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            صور الإعلان
                        </p>
                    </header>
                    <div class="card-content">
                        <gallery :images="images" :index="index" @close="index = null"></gallery>
                        <div class="row">
                            <div class="col-3 mb-4" v-for="(image, imageIndex) in images" :key="imageIndex">
                                <a class="col-12">
                                    <img @click="index = imageIndex" :src="image">
                                </a>
                                <div class="col-9 mt-2 mr-5">
                                    <button @click="deleteMedia('photo',imageIndex)" class="col-12 button is-danger is-small">حذف الصورة</button>
                                </div>
                            </div>
                        </div>
                        <div v-if="images.length === 0">
                            <p>لا يوجد صور </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            فيديو الإعلان
                        </p>
                    </header>
                    <div class="card-content">
                        <div v-if="advertisementInfo.video" class="row">
                            <div class="col-12">
                                <video-player :options="playerOptions"></video-player>
                            </div>
                            <div class="col-9 mt-2 mr-5">
                                <button @click="deleteMedia('video',null)" class="col-12 button is-danger is-small">حذف الفيديو</button>
                            </div>
                        </div>
                        <div v-else>
                            <p>لا يوجد فيديو </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            العنوان علي الخريطة
                        </p>
                    </header>
                    <div class="card-content">
                        <div v-if="advertisementInfo.latitude && advertisementInfo.longitude">
                            <GmapMap
                                    :center="{lat: parseFloat(advertisementInfo.latitude), lng: parseFloat(advertisementInfo.longitude)}"
                                    :zoom="12"
                                    map-type-id="terrain"
                                    style="width: 470px; height: 240px"
                            >
                                <GmapMarker
                                        :position="{lat: parseFloat(advertisementInfo.latitude),lng: parseFloat(advertisementInfo.longitude)}"
                                />
                            </GmapMap>
                        </div>
                        <div v-else>
                            <p>لا يوجد عنوان للإعلان </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            تعليقات الإعلان
                        </p>
                    </header>
                    <div class="card-content">
                        <div v-if="comments.length > 0">

                                <b-message v-for="(comment, index) in comments" :key="index"
                                           :title="comment.user.name+' ('+commentMoment(comment.created_at,'HH:mm')+' - '+commentMoment(comment.created_at,'DD MMM YYYY')+')'"
                                           size="is-small" @close="deleteComment(comment,index)">
                                    <p style="text-align: right;"><strong> {{ comment.comment }}</strong></p>
                                </b-message>
                        </div>
                        <div v-else>
                            <p>لا يوجد تعليقات حاليا </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import {showAdvertisement,deleteComment,deleteMedia} from '../config/apiRoutes';
    import {appUrl} from '../config/apiConfig';
    import VueGallery from 'vue-gallery';
    import 'video.js/dist/video-js.css'

    import { videoPlayer } from 'vue-video-player'

    var moment = require('moment');

    import Vue from 'vue'
    import * as VueGoogleMaps from 'vue2-google-maps'

    Vue.use(VueGoogleMaps, {
        load: {
            key: 'AIzaSyDOV8qg2nYLJW-qmiJNB9-lL1CLQnFq-L8',
            libraries: 'places', // This is required if you use the Autocomplete plugin
        },
    });

    export default {
        data() {
            return {
                message: '',
                appUrl: appUrl,
                advertisement_id: this.$route.params.advertisement_id,
                comments:[],
                images:[],
                index: null,
                advertisementInfo: {},
                data: [],
                playerOptions: {
                    sources: [{
                        src: null
                    }]
                },
                isLoading: true,
            }
        },

        computed: {
            player() {
                return this.$refs.videoPlayer.player
            }
        },

        components: {
            'gallery': VueGallery,
            videoPlayer
        },

        created: function () {
            this.getData();
        },

        methods: {
            getData() {
                this.isLoading = true;
                showAdvertisement(this.advertisement_id).then((response) => {
                    this.advertisementInfo = response.data;
                    this.data = [
                        {name:'رقم الإعلان',content: this.advertisementInfo.id},
                        {name:'التاريخ',content: this.advertisementInfo.created_at},
                        {name:'صاحب الإعلان',content: this.advertisementInfo.user.name},
                        {name:'رقم الجوال',content: this.advertisementInfo.mobile},
                        {name:'المدينة',content: this.advertisementInfo.city.name},
                        {name:'العنوان',content: this.advertisementInfo.address},
                        {name:'القسم',content: this.advertisementInfo.category.name},
                        {name:'عنوان الإعلان',content: this.advertisementInfo.title},
                        {name:'وصف الإعلان',content: this.advertisementInfo.description},
                        {name:'سبب الحذف',content: this.advertisementInfo.delete_reason},
                    ];

                    var photos = this.advertisementInfo.advertisement_photos;
                    for (var i=0 ; i< photos.length ; i++) {
                        this.images[i] = appUrl+photos[i].photo;
                    }

                    if (this.advertisementInfo.video != null ) {
                        this.playerOptions.sources[0].src = appUrl+this.advertisementInfo.video;
                    }

                    this.comments = this.advertisementInfo.comments;

                    this.isLoading = false;

                }).catch(() => {
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    this.isLoading = false;
                });;
            },

            deleteComment(comment,index) {
                this.$swal({
                    title: 'هل انت متأكد ؟',
                    text: "عند الحذف لن تستطيع ارجاع المعلومات مرة أخرى",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'تأكيد الحذف',
                    cancelButtonText: 'إلغاء'
                }).then((result) => {
                    if (result.value) {
                        let loader = this.$loading.show({
                            loader: 'dots',
                        });
                        deleteComment(comment.id).then(() => {
                            loader.hide();
                            this.$swal('','تم حذف التعليق بنجاح','success');
                        }).catch((error) => {
                            loader.hide();
                            if (error.response.data.message != null) {
                                this.$swal('', error.response.data.message, 'error');
                            } else {
                                this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                            }
                        });
                    } else {
                        this.comments.splice(index, 0, comment);
                    }
                })
            },

            deleteMedia(type,index) {
                this.$swal({
                    title: 'هل انت متأكد ؟',
                    text: "عند الحذف لن تستطيع ارجاع المعلومات مرة أخرى",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'تأكيد الحذف',
                    cancelButtonText: 'إلغاء'
                }).then((result) => {
                    if (result.value) {
                        let loader = this.$loading.show({
                            loader: 'dots',
                        });

                        var queryParams = '';
                        if (type === 'photo') {
                            var advertisementPhoto = this.advertisementInfo.advertisement_photos[index];
                            queryParams = '?advertisementPhoto_id='+advertisementPhoto.id;
                        } else if(type === 'video') {
                            queryParams = '?video=1&advertisement_id='+this.advertisementInfo.id;
                        }

                        deleteMedia(queryParams).then(() => {
                            if (type === 'photo') {
                                this.images.splice(index, 1);
                            } else if(type === 'video') {
                                this.advertisementInfo.video = null;
                            }
                            loader.hide();
                            this.$swal('','تم الحذف بنجاح','success');
                        }).catch((error) => {
                            loader.hide();
                            if (error.response.data.message != null) {
                                this.$swal('', error.response.data.message, 'error');
                            } else {
                                this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                            }
                        });
                    }
                })
            },

            commentMoment(date,format) {
                return moment(date).format(format);
            },

            moment(date) {
                return moment(date).format('DD/MM/YYYY');
            },
        }
    }
</script>

<style scoped>
    .image {
        float: right;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid #ebebeb;
        margin: 5px;
        width: 223px;
        height: 200px;
    }
</style>