<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="ml-4">
                                <i class="fa fa-home fa-lg"></i>
                                الصفحة الرئيسية
                            </span>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="row mb-5">
                            <div class="col-3 mb-3">
                                <b-message type="is-info" title="المستخدمين الجدد اليوم" :closable="false">
                                    <router-link to="/admin/users">
                                        <p style="text-align: right; font-weight: bold; white-space: pre;"> {{ homeInfo.todayUsersCount }}   مستخدم </p>
                                    </router-link>
                                </b-message>
                            </div>
                            <div class="col-3 mb-3">
                                <b-message type="is-info" title="عدد الإعلانات اليوم" :closable="false">
                                    <router-link to="/admin/advertisements">
                                        <p style="text-align: right; font-weight: bold; white-space: pre;"> {{ homeInfo.todayAdsCount }}   إعلان </p>
                                    </router-link>
                                </b-message>
                            </div>
                            <div class="col-3 mb-3">
                                <b-message type="is-info" title="عدد المحادثات اليوم" :closable="false">
                                    <router-link to="/admin/conversations">
                                        <p style="text-align: right; font-weight: bold; white-space: pre;"> {{ homeInfo.todayConversationsCount }}   محادثة </p>
                                    </router-link>
                                </b-message>
                            </div>
                            <div class="col-3 mb-3">
                                <b-message type="is-info" title="عدد رسائل التطبيق اليوم" :closable="false">
                                    <router-link to="/admin/appMessages">
                                        <p style="text-align: right; font-weight: bold; white-space: pre;"> {{ homeInfo.todayAppMessagesCount }}   رسالة </p>
                                    </router-link>
                                </b-message>
                            </div>
                            <div class="col-3 mb-3">
                                <b-message type="is-info" title="المستخدمين الحاليين" :closable="false">
                                    <router-link to="/admin/users">
                                        <p style="text-align: right; font-weight: bold; white-space: pre;"> {{ homeInfo.usersCount }}   مستخدم </p>
                                    </router-link>
                                </b-message>
                            </div>
                            <div class="col-3">
                                <b-message type="is-info" title="الإعلانات الحالية" :closable="false">
                                    <router-link to="/admin/advertisements">
                                        <p style="text-align: right; font-weight: bold; white-space: pre;"> {{ homeInfo.activeAdsCount }}   إعلان </p>
                                    </router-link>
                                </b-message>
                            </div>
                            <div class="col-3">
                                <b-message type="is-info" title="الإعلانات المحذوفة" :closable="false">
                                    <router-link to="/admin/advertisements/deleted">
                                        <p style="text-align: right; font-weight: bold; white-space: pre;"> {{ homeInfo.deletedAdsCount }}   إعلان </p>
                                    </router-link>
                                </b-message>
                            </div>
                            <div class="col-3">
                                <b-message type="is-info" title="عدد المحادثات" :closable="false">
                                    <router-link to="/admin/conversations">
                                        <p style="text-align: right; font-weight: bold; white-space: pre;"> {{ homeInfo.conversationsCount }}   محادثة </p>
                                    </router-link>
                                </b-message>
                            </div>
                            <div class="col-3">
                                <b-message type="is-info" title="رسائل التطبيق" :closable="false">
                                    <router-link to="/admin/appMessages">
                                        <p style="text-align: right; font-weight: bold; white-space: pre;"> {{ homeInfo.appMessagesCount }}   رسالة </p>
                                    </router-link>
                                </b-message>
                            </div>
                            <div class="col-3">
                                <b-message type="is-info" title="رسائل التطبيق الغير مقروءة" :closable="false">
                                    <router-link to="/admin/appMessages">
                                        <p style="text-align: right; font-weight: bold; white-space: pre;"> {{ homeInfo.unseenAppMessagesCount }}   رسالة </p>
                                    </router-link>
                                </b-message>
                            </div>
                            <div class="col-3">
                                <b-message type="is-info" title="الأقسام الرئيسية" :closable="false">
                                    <router-link to="/admin/categories">
                                        <p style="text-align: right; font-weight: bold; white-space: pre;"> {{ homeInfo.categoriesCount }}   قسم </p>
                                    </router-link>
                                </b-message>
                            </div>
                            <div class="col-3">
                                <b-message type="is-info" title="المدن الحالية" :closable="false">
                                    <router-link to="/admin/cities">
                                        <p style="text-align: right; font-weight: bold; white-space: pre;"> {{ homeInfo.citiesCount }}   مدن </p>
                                    </router-link>
                                </b-message>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {homeInfo} from './../config/apiRoutes';

    export default {
        data() {
            return {
                homeInfo: {},
            }
        },

        created: function () {
            this.getData();
        },

        methods: {
            getData() {
                let loader = this.$loading.show({
                    loader: 'spinner',
                });
                homeInfo().then((response) => {
                    this.homeInfo = response.data;
                    loader.hide();
                }).catch(() => {
                    loader.hide();
                    this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                });
            },
        },

    }
</script>
