<template>
    <div class="container-fluid">
        <div class="row">
            <!-- Start Card Add Admin -->
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            إضافة مستخدم جديد
                        </p>
                    </header>

                    <div class="card-content">
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <b-field label="الاسم"
                                         :type="$v.adminInfo.name.$error ? 'is-danger' : ''">
                                    <b-input placeholder="أدخل الاسم الثنائي ..." type="text"
                                             v-model.trim="$v.adminInfo.name.$model">
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <b-field label="اسم المستخدم"
                                         :type="$v.adminInfo.username.$error ? 'is-danger' : ''">
                                    <b-input placeholder="أدخل أسم المستخدم الخاص بك ..." type="text"
                                             v-model.trim="$v.adminInfo.username.$model">
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <b-field label="كلمة المرور"
                                         :type="$v.adminInfo.password.$error ? 'is-danger' : ''"
                                         :message="$v.adminInfo.password.$error ? 'كلمة المرور يجب ان تكون اكبر من 6 حروف او ارقام' : ''">
                                    <b-input type="password"
                                             placeholder="ادخل كلمة المرور الجديدة"
                                             password-reveal icon="key"
                                             v-model.trim="$v.adminInfo.password.$model"
                                    >
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <b-field label="تأكيد كلمة المرور"
                                         :type="$v.adminInfo.password_confirmation.$error ? 'is-danger' : ''"
                                         :message="$v.adminInfo.password_confirmation.$error ? 'تأكيد كلمة المرور يجب أن يطابق كلمة المرور' : ''">
                                    <b-input type="password"
                                             placeholder="ادخل كلمة المرور الجديدة مرة اخرى"
                                             password-reveal icon="key"
                                             v-model.trim="$v.adminInfo.password_confirmation.$model"
                                    >
                                    </b-input>
                                </b-field>
                            </div>

                            <div class="col-12 mt-4 text-center" ref="addButton">
                                <button class="button btn-main is-rounded" @click="addAdmin">حفظ</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {addAdmin} from '../config/apiRoutes'
    import { required, sameAs, minLength } from 'vuelidate/lib/validators'

    export default {
        data(){
            return {
                adminInfo:{
                    name: null,
                    username: null,
                    password: null,
                    password_confirmation: null,
                },
            }
        },

        validations: {
            adminInfo: {
                name: {required},
                username: {required},
                password: {required,minLength: minLength(6)},
                password_confirmation:{required,minLength: minLength(6),sameAs:sameAs('password')},
            },
        },


        methods: {
            addAdmin() {
                this.$v.adminInfo.$touch();
                if (!this.$v.adminInfo.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.addButton,
                    });
                    addAdmin(this.adminInfo).then(() => {
                        this.adminInfo = {
                            name: null,
                            username: null,
                            password: null,
                            password_confirmation: null,
                        };
                        this.$v.adminInfo.$reset();
                        loader.hide();
                        this.$swal('', 'تم إضافة المستخدم بنجاح', 'success');
                    }).catch((error) => {
                        loader.hide();
                        if (error.response.data.message != null) {
                            this.$swal('', error.response.data.message, 'error');
                        } else {
                            this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                        }
                    });
                }
            },
        }
    }
</script>