<template>
    <div class="container-fluid">
        <div class="row">
            <!-- Start Card Edit Password -->
            <div class="col-6">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            تعديل كلمة المرور
                        </p>
                    </header>

                    <div class="card-content" style="height: 420px">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <b-field label="كلمة المرور الحالية"
                                         :type="$v.adminResetPassword.oldPassword.$error ? 'is-danger' : ''"
                                         :message="$v.adminResetPassword.oldPassword.$error ? 'كلمة المرور يجب ان تكون اكبر من 6 حروف او ارقام' : ''">
                                    <b-input type="password"
                                             placeholder="ادخل كلمة المرور الحالية"
                                             password-reveal icon="key"
                                             v-model.trim="$v.adminResetPassword.oldPassword.$model"
                                    >
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="col-12 mb-3">
                                <b-field label="كلمة المرور الجديدة"
                                         :type="$v.adminResetPassword.newPassword.$error ? 'is-danger' : ''"
                                         :message="$v.adminResetPassword.newPassword.$error ? 'كلمة المرور يجب ان تكون اكبر من 6 حروف او ارقام' : ''">
                                    <b-input type="password"
                                             placeholder="ادخل كلمة المرور الجديدة"
                                             password-reveal icon="key"
                                             v-model.trim="$v.adminResetPassword.newPassword.$model"
                                    >
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="col-12 mb-3">
                                <b-field label="تأكيد كلمة المرور"
                                         :type="$v.adminResetPassword.newPassword_confirmation.$error ? 'is-danger' : ''"
                                         :message="$v.adminResetPassword.newPassword_confirmation.$error ? 'كلمة المرور يجب ان تكون اكبر من 6 حروف او ارقام' : ''">
                                    <b-input type="password"
                                             placeholder="ادخل كلمة المرور الجديدة مرة اخرى"
                                             password-reveal icon="key"
                                             v-model.trim="$v.adminResetPassword.newPassword_confirmation.$model"
                                    >
                                    </b-input>
                                </b-field>
                            </div>

                            <div class="col-12 mt-4 text-center" ref="updatePasswordButton">
                                <button class="button btn-main is-rounded" @click="updatePassword">تعديل</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            تعديل البيانات الشخصية
                        </p>
                    </header>

                    <div class="card-content" style="height: 420px">
                        <div class="row">
                            <div class="col-12 col-md-12 mb-3">
                                <b-field label="الاسم"
                                         :type="$v.adminInfo.name.$error ? 'is-danger' : ''">
                                    <b-input placeholder="أدخل الاسم الثنائي ..." type="text"
                                             v-model.trim="$v.adminInfo.name.$model">
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="col-12 col-md-12 mb-3">
                                <b-field label="اسم المستخدم"
                                         :type="$v.adminInfo.username.$error ? 'is-danger' : ''">
                                    <b-input placeholder="أدخل أسم المستخدم الخاص بك ..." type="text"
                                             v-model.trim="$v.adminInfo.username.$model">
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="col-12 mt-4 text-center" ref="updateButton">
                                <button class="button btn-main is-rounded" @click="updateProfile">تعديل</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {getAdmin,updateAdmin,updateAdminPassword} from '../config/apiRoutes'
    import {EventBus} from '../config/apiConfig'
    import { required, sameAs, minLength } from 'vuelidate/lib/validators'

    export default {
        data(){
            return {
                adminInfo: {},
                adminResetPassword:{
                    oldPassword: null,
                    newPassword: null,
                    newPassword_confirmation: null,
                },
            }
        },

        validations: {
            adminResetPassword: {
                oldPassword: {required,minLength: minLength(6)},
                newPassword: {required,minLength: minLength(6)},
                newPassword_confirmation:{required,minLength: minLength(6),sameAs:sameAs('newPassword')},
            },
            adminInfo: {
                name: {required},
                username: {required}
            }
        },

        created: function () {
            this.getData();
        },


        methods: {

            getData() {
                let loader = this.$loading.show({
                    loader: 'spinner',
                });
                getAdmin().then((response) => {
                    this.adminInfo = response.data;
                    loader.hide();
                }).catch(() => {
                    loader.hide();
                    this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                });
            },

            updateProfile() {
                this.$v.adminInfo.$touch();
                if (!this.$v.adminInfo.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.updateButton,
                    });
                    updateAdmin(this.adminInfo).then((response) => {
                        this.adminInfo = response.data;
                        EventBus.$emit('change-user-info', this.adminInfo.username);
                        loader.hide();
                        this.$swal('', 'تم تعديل البيانات بنجاح', 'success');
                    }).catch((error) => {
                        loader.hide();
                        if (error.response.data.message != null) {
                            this.$swal('', error.response.data.message, 'error');
                        } else {
                            this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                        }
                    });
                }
            },

            updatePassword() {
                this.$v.adminResetPassword.$touch();
                if (!this.$v.adminResetPassword.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.updatePasswordButton,
                    });
                    updateAdminPassword(this.adminResetPassword).then(() => {
                        this.adminResetPassword = {
                            oldPassword: null,
                            newPassword: null,
                            newPassword_confirmation: null
                        };
                        this.$v.adminResetPassword.$reset();
                        loader.hide();
                        this.$swal('', 'تم تعديل كلمة المرور بنجاح', 'success');
                    }).catch((error) => {
                        loader.hide();
                        if (error.response.data.message != null) {
                            this.$swal('', error.response.data.message, 'error');
                        } else {
                            this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                        }
                    });
                }
            }
        }
    }
</script>