<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="ml-4">
                                <i class="fa fa-cubes fa-lg"></i>
                                المدن
                            </span>
                        </p>
                    </header>
                    <div class="card-content">

                        <b-table
                                :data="cities"
                                :paginated="isPaginated"
                                :per-page="perPage"
                                :current-page.sync="currentPage"
                                :pagination-simple="isPaginationSimple"
                                :default-sort-direction="defaultSortDirection"
                                :bordered="true"
                                :loading="isLoading"
                                striped
                                narrowed
                                default-sort="id">

                            <template slot-scope="props">
                                <b-table-column width="200" field="id" label="#" centered>
                                    {{ props.row.id }}
                                </b-table-column>
                                <b-table-column width="500" field="name" label="اسم المدينة" centered>
                                    {{ props.row.name }}
                                </b-table-column>

                                <b-table-column field="Edit" label="تعديل" width="100" centered>
                                    <a class="button is-accent btn-circle-md" @click="editCityModal(props.row)">
                                        <span class="icon">
                                            <i class="mdi mdi-account-edit mdi-24px"></i>
                                        </span>
                                    </a>
                                </b-table-column>

                                <b-table-column field="Delete" label="حذف" width="100" centered>
                                    <a class="button is-danger btn-circle-md" @click="deleteCity(props.row.id)">
                                        <span class="icon">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    </a>
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon
                                                    icon="emoticon-sad"
                                                    size="is-large">
                                            </b-icon>
                                        </p>
                                        <p>{{ message }}</p>
                                    </div>
                                </section>
                            </template>

                        </b-table>
                        <div class="text-center mb-4">
                            <button @click="addCity = true" class="button is-info is-medium is-rounded">
                                إضافة مدينة جديد
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Edit City -->
        <b-modal :active.sync="editCity" :width="680">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">تعديل بيانات المدينة</p>
                </header>
                <section class="modal-card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="اسم المدينة" :type="$v.cityInfo.name.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل اسم المدينة"
                                         v-model.trim="$v.cityInfo.name.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="editCity = false">إلغاء</button>
                    <button class="button is-primary" ref="editButton" @click="editCityInfo()">حفظ التعديلات</button>
                </footer>
            </div>
        </b-modal>

        <!-- add Brand -->
        <b-modal :active.sync="addCity" :width="680" scroll="keep">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">إضافة مدينة جديد</p>
                </header>
                <section class="modal-card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="اسم المدينة" :type="$v.newCity.name.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل اسم المدينة"
                                         v-model.trim="$v.newCity.name.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="addCity = false">إلغاء</button>
                    <button class="button is-primary" ref="addButton" @click="addCityInfo()">حفظ</button>
                </footer>
            </div>
        </b-modal>


    </div>
</template>


<script>
    import {getCities,addCity,updateCity,deleteCity} from './../config/apiRoutes'
    import { required } from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                message: 'لا يوجد مدن حاليا',
                cities: [],
                cityInfo: {
                    city_id: null,
                    name: null,
                },
                newCity: {
                    name: null,
                },
                editCity: false,
                addCity: false,
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'desc',
                currentPage: 1,
                perPage: 10,
                isLoading: true,
            }
        },

        validations: {
            cityInfo: {
                city_id: {required},
                name: {required},
            },
            newCity: {
                name: {required},
            }
        },

        created: function () {
            this.getData();
        },

        methods:{
            getData() {
                getCities().then((response) => {
                    this.cities = response.data;
                    this.isLoading = false;
                }).catch(() => {
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    this.isLoading = false;
                });
            },

            deleteCity(city_id) {
                this.$swal({
                    title: 'هل انت متأكد ؟',
                    text: "عند الحذف لن تستطيع ارجاع المعلومات مرة أخرى",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'تأكيد الحذف',
                    cancelButtonText: 'إلغاء',
                }).then((result) => {
                    if (result.value) {
                        let loader = this.$loading.show({
                            loader: 'dots',
                        });
                        deleteCity(city_id).then((response) => {
                            this.cities = response.data;
                            loader.hide();
                            this.$swal('','تم حذف المدينة بنجاح','success');
                        }).catch((error) => {
                            loader.hide();
                            if (error.response.data.message != null) {
                                this.$swal('', error.response.data.message, 'error');
                            } else {
                                this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                            }
                        });
                    }
                })
            },

            editCityInfo() {
                this.$v.cityInfo.$touch();
                if (!this.$v.cityInfo.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.editButton,
                    });
                    updateCity(this.cityInfo).then((response) => {
                        this.cities = response.data;
                        loader.hide();
                        this.editCity = false;
                        this.$swal('','تم تعديل بيانات المدينة بنجاح','success');
                    }).catch((error) => {
                        loader.hide();
                        if (error.response.data.message != null) {
                            this.$swal('', error.response.data.message, 'error');
                        } else {
                            this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                        }
                    });
                }
            },

            editCityModal(city){
                this.cityInfo.city_id = city.id;
                this.cityInfo.name = city.name;
                this.editCity = true;
            },

            addCityInfo() {
                this.$v.newCity.$touch();
                if (!this.$v.newCity.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.addButton,
                    });
                    addCity(this.newCity).then((response) => {
                        this.cities = response.data;
                        this.$v.newCity.$reset();
                        loader.hide();
                        this.addCity = false;
                        this.newCity = {name: null};
                        this.$swal('','تم إضافة المدينة بنجاح','success');
                    }).catch((error) => {
                        loader.hide();
                        if (error.response.data.message != null) {
                            this.$swal('', error.response.data.message, 'error');
                        } else {
                            this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                        }
                    });
                }
            }
        }

    }
</script>