<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="ml-4">
                                <i class="fa fa-bookmark fa-lg"></i>
                                روابط التطبيق
                            </span>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <b-field label="البريد الإلكتروني للتطبيق"
                                         :type="$v.appInfo.app_email.$error ? 'is-danger' : ''">
                                    <b-input placeholder="ادخل البريد الإلكتروني الخاص بالتطبيق" type="text"
                                             v-model.trim="$v.appInfo.app_email.$model">
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <b-field label="رقم جوال التطبيق"
                                         :type="$v.appInfo.app_mobile.$error ? 'is-danger' : ''">
                                    <b-input placeholder="ادخل رقم الجوال الخاص بالتطبيق" type="number"
                                             v-model.trim="$v.appInfo.app_mobile.$model">
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <b-field label="رابط التطبيق علي جوجل بلاي"
                                         :type="$v.appInfo.google_play.$error ? 'is-danger' : ''">
                                    <b-input placeholder="ادخل رابط التطبيق علي جوجل بلاي" type="text"
                                             v-model.trim="$v.appInfo.google_play.$model">
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <b-field label="رابط التطبيق علي أب ستور"
                                         :type="$v.appInfo.app_store.$error ? 'is-danger' : ''">
                                    <b-input placeholder="ادخل رابط التطبيق علي أب ستور" type="text"
                                             v-model.trim="$v.appInfo.app_store.$model">
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <b-field label="عمولة التطبيق (بالنسبة المئوية)"
                                         :type="$v.appInfo.commission.$error ? 'is-danger' : ''">
                                    <b-input placeholder="ادخل عمولة التطبيق (بالنسبة المئوية)" type="number"
                                             v-model.trim="$v.appInfo.commission.$model" step="1">
                                    </b-input>
                                </b-field>
                            </div>
                        </div>

                        <div class="text-right mb-2 mt-3">
                            <button @click="updateSetting()" ref="editButton"  class="button is-info is-medium is-rounded">
                                تعديل
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>


<script>
    import {getSetting,updateSetting} from './../config/apiRoutes';
    import {required,numeric,email,url,minValue,maxValue} from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                appInfo: {},
            }
        },

        validations: {
            appInfo: {
                app_email: {required,email},
                app_mobile: {numeric},
                app_store: {url},
                google_play: {url},
                commission: {required,numeric,minValue: minValue(0),maxValue: maxValue(100)},
            }
        },

        created: function () {
            this.getData();
        },

        methods: {
            getData() {
                let loader = this.$loading.show({
                    loader: 'spinner',
                });
                getSetting().then((response) => {
                    this.appInfo = response.data;
                    loader.hide();
                }).catch(() => {
                    loader.hide();
                    this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                });
            },

            updateSetting() {
                var formData = this.appInfo;
                this.$v.appInfo.$touch();
                if (!this.$v.appInfo.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.editButton,
                    });
                    updateSetting(formData).then((response) => {
                        this.appInfo = response.data;
                        loader.hide();
                        this.$swal('', 'تم تعديل البيانات بنجاح', 'success');
                    }).catch((error) => {
                        loader.hide();
                        if (error.response.data.message != null) {
                            this.$swal('', error.response.data.message, 'error');
                        } else {
                            this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                        }
                    });
                }
            }
        },

    }
</script>