<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="ml-4">
                                <i class="fa fa-university fa-lg"></i>
                                الحسابات البنكية
                            </span>
                        </p>
                    </header>
                    <div class="card-content">

                        <b-table
                                :data="bankAccounts"
                                :paginated="isPaginated"
                                :per-page="perPage"
                                :current-page.sync="currentPage"
                                :pagination-simple="isPaginationSimple"
                                :default-sort-direction="defaultSortDirection"
                                :bordered="true"
                                :loading="isLoading"
                                striped
                                narrowed
                                default-sort="id">

                            <template slot-scope="props">
                                <b-table-column width="300" field="image" label="" sortable centered>
                                    <img v-if="props.row.bank_photo" style="width: 100px; height: 50px;"
                                         :src="appUrl+props.row.bank_photo"
                                    >
                                </b-table-column>

                                <b-table-column width="500" field="bankName" label="اسم البنك" centered>
                                    {{ props.row.bank_name }}
                                </b-table-column>
                                <b-table-column width="500" field="ownerName" label="اسم صاحب الحساب" centered>
                                    {{ props.row.owner_name }}
                                </b-table-column>
                                <b-table-column width="500" field="accountNumber" label="رقم الحساب" centered>
                                    {{ props.row.account_number }}
                                </b-table-column>
                                <b-table-column width="500" field="ibanNumber" label="رقم الأيبان" centered>
                                    {{ props.row.IBAN_number }}
                                </b-table-column>

                                <b-table-column field="Edit" label="تعديل" width="100" centered>
                                    <a class="button is-accent btn-circle-md" @click="editBankAccountModal(props.row)">
                                        <span class="icon">
                                            <i class="mdi mdi-account-edit mdi-24px"></i>
                                        </span>
                                    </a>
                                </b-table-column>

                                <b-table-column field="Delete" label="حذف" width="100" centered>
                                    <a class="button is-danger btn-circle-md" @click="deleteBankAccount(props.row.id)">
                                        <span class="icon">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    </a>
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon
                                                    icon="emoticon-sad"
                                                    size="is-large">
                                            </b-icon>
                                        </p>
                                        <p>{{ message }}</p>
                                    </div>
                                </section>
                            </template>

                        </b-table>
                        <div class="text-center mb-4">
                            <button @click="addBankAccount = true" class="button is-info is-medium is-rounded">
                                إضافة حساب بنكي جديد
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Edit Bank Account -->
        <b-modal :active.sync="editBankAccount" :width="680">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">تعديل بيانات الحساب البنكي</p>
                </header>
                <section class="modal-card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="اسم البنك" :type="$v.bankAccountInfo.bank_name.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل اسم البنك"
                                         v-model.trim="$v.bankAccountInfo.bank_name.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="اسم صاحب الحساب" :type="$v.bankAccountInfo.owner_name.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل اسم صاحب الحساب"
                                         v-model.trim="$v.bankAccountInfo.owner_name.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="رقم الحساب" :type="$v.bankAccountInfo.account_number.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل رقم الحساب"
                                         v-model.trim="$v.bankAccountInfo.account_number.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="رقم الأيبان" :type="$v.bankAccountInfo.IBAN_number.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل رقم الأيبان"
                                         v-model.trim="$v.bankAccountInfo.IBAN_number.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-3 mt-3">
                            <b-field label="صورة البنك">
                                <b-upload v-model="bankAccountInfo.bank_photo">
                                    <a class="button is-primary">
                                        <b-icon icon="upload"></b-icon>
                                        <span class="mr-2">اضغط للتحميل</span>
                                    </a>
                                </b-upload>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-9 mt-5">
                            <span class="col-12 col-md-6" v-if="bankAccountInfo.bank_photo">{{ bankAccountInfo.bank_photo.name }}</span>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="editBankAccount = false">إلغاء</button>
                    <button class="button is-primary" ref="editButton" @click="editBankAccountInfo()">حفظ التعديلات</button>
                </footer>
            </div>
        </b-modal>

        <!-- add Bank Account -->
        <b-modal :active.sync="addBankAccount" :width="680" scroll="keep">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">إضافة حساب بنكى جديد</p>
                </header>
                <section class="modal-card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="اسم البنك" :type="$v.newBankAccount.bank_name.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل اسم البنك"
                                         v-model.trim="$v.newBankAccount.bank_name.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="اسم صاحب الحساب" :type="$v.newBankAccount.owner_name.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل اسم صاحب الحساب"
                                         v-model.trim="$v.newBankAccount.owner_name.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="رقم الحساب" :type="$v.newBankAccount.account_number.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل رقم الحساب"
                                         v-model.trim="$v.newBankAccount.account_number.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="رقم الأيبان" :type="$v.newBankAccount.IBAN_number.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل رقم الأيبان"
                                         v-model.trim="$v.newBankAccount.IBAN_number.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-3 mt-3">
                            <b-field label="صورة البنك">
                                <b-upload v-model="newBankAccount.bank_photo">
                                    <a class="button is-primary">
                                        <b-icon icon="upload"></b-icon>
                                        <span class="mr-2">Click to upload</span>
                                    </a>
                                </b-upload>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-9 mt-5">
                            <span class="col-12 col-md-6" v-if="newBankAccount.bank_photo">{{ newBankAccount.bank_photo.name }}</span>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="addBankAccount = false">إلغاء</button>
                    <button class="button is-primary" ref="addButton" @click="addBankAccountInfo()">حفظ</button>
                </footer>
            </div>
        </b-modal>


    </div>
</template>


<script>
    import {getBankAccounts,addBankAccount,updateBankAccount,deleteBankAccount} from './../config/apiRoutes'
    import { required,numeric } from 'vuelidate/lib/validators'
    import {appUrl} from '../config/apiConfig';
    export default {
        data() {
            return {
                message: 'لا يوجد حسابات بنكية حاليا',
                appUrl: appUrl,
                bankAccounts: [],
                bankAccountInfo: {
                    bankAccount_id: null,
                    bank_name: null,
                    owner_name: null,
                    account_number: null,
                    IBAN_number: null,
                },
                newBankAccount: {
                    bank_name: null,
                    owner_name: null,
                    account_number: null,
                    IBAN_number: null,
                },
                editBankAccount: false,
                addBankAccount: false,
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'desc',
                currentPage: 1,
                perPage: 10,
                isLoading: true,
            }
        },

        validations: {
            bankAccountInfo: {
                bankAccount_id: {required},
                bank_name: {required},
                owner_name: {required},
                account_number: {required,numeric},
                IBAN_number: {required},
            },
            newBankAccount: {
                bank_name: {required},
                owner_name: {required},
                account_number: {required,numeric},
                IBAN_number: {required},
            }
        },

        created: function () {
            this.getData();
        },

        methods:{
            getData() {
                getBankAccounts().then((response) => {
                    this.bankAccounts = response.data;
                    this.isLoading = false;
                }).catch(() => {
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    this.isLoading = false;
                });
            },

            deleteBankAccount(bankAccount_id) {
                this.$swal({
                    title: 'هل انت متأكد ؟',
                    text: "عند الحذف لن تستطيع ارجاع المعلومات مرة أخرى",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'تأكيد الحذف',
                    cancelButtonText: 'إلغاء'
                }).then((result) => {
                    if (result.value) {
                        let loader = this.$loading.show({
                            loader: 'dots',
                        });
                        deleteBankAccount(bankAccount_id).then((response) => {
                            this.bankAccounts = response.data;
                            loader.hide();
                            this.$swal('','تم حذف الحساب بنجاح','success');
                        }).catch((error) => {
                            loader.hide();
                            if (error.response.data.message != null) {
                                this.$swal('', error.response.data.message, 'error');
                            } else {
                                this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                            }
                        });
                    }
                })
            },

            editBankAccountInfo() {
                var formData = new FormData();

                for ( var key in this.bankAccountInfo ) {
                    formData.append(key, this.bankAccountInfo[key] === null ? '':this.bankAccountInfo[key]);
                }

                this.$v.bankAccountInfo.$touch();
                if (!this.$v.bankAccountInfo.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.editButton,
                    });
                    updateBankAccount(formData).then((response) => {
                        this.bankAccounts = response.data;
                        loader.hide();
                        if (this.bankAccountInfo.bank_photo) {
                            delete this.bankAccountInfo.bank_photo;
                        }
                        this.editBankAccount = false;
                        this.$swal('','تم تعديل بيانات الحساب البنكي بنجاح','success');
                    }).catch((error) => {
                        loader.hide();
                        if (error.response.data.message != null) {
                            this.$swal('', error.response.data.message, 'error');
                        } else {
                            this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                        }
                    });
                }
            },

            editBankAccountModal(bankAccount){
                this.bankAccountInfo.bankAccount_id = bankAccount.id;
                this.bankAccountInfo.bank_name = bankAccount.bank_name;
                this.bankAccountInfo.owner_name = bankAccount.owner_name;
                this.bankAccountInfo.account_number = bankAccount.account_number;
                this.bankAccountInfo.IBAN_number = bankAccount.IBAN_number;
                this.editBankAccount = true;
            },

            addBankAccountInfo() {
                var formData = new FormData();

                for ( var key in this.newBankAccount ) {
                    formData.append(key, this.newBankAccount[key] === null ? '':this.newBankAccount[key]);
                }
                console.log(formData.bank_name);
                this.$v.newBankAccount.$touch();
                if (!this.$v.newBankAccount.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.addButton,
                    });
                    addBankAccount(formData).then((response) => {
                        this.bankAccounts = response.data;
                        this.$v.newBankAccount.$reset();
                        loader.hide();
                        this.addBankAccount = false;
                        this.newBankAccount = {bank_name: null, owner_name: null, account_number: null, IBAN_number: null};
                        this.$swal('','تم إضافة الحساب البنكي بنجاح','success');
                    }).catch((error) => {
                        loader.hide();
                        if (error.response.data.message != null) {
                            this.$swal('', error.response.data.message, 'error');
                        } else {
                            this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                        }
                    });
                }
            }
        }

    }
</script>
