<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="ml-4">
                                <i class="fa fa-bullhorn fa-lg"></i>
                                سياسة الأستخدام
                            </span>
                        </p>
                    </header>
                    <div class="card-content">
                        <vue-editor v-model="usagePolicy"></vue-editor>

                        <div class="text-right mb-2 mt-3">
                            <button @click="updateSetting()" ref="editButton" class="button is-info is-medium is-rounded">
                                تعديل
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>


<script>
    import {getSetting,updateSetting} from './../config/apiRoutes';
    import { VueEditor } from "vue2-editor";
    export default {
        data() {
            return {
                usagePolicy: '',
            }
        },

        created: function () {
            this.getData();
        },

        components: {
            VueEditor
        },

        methods: {
            getData() {
                let loader = this.$loading.show({
                    loader: 'spinner',
                });
                getSetting().then((response) => {
                    this.usagePolicy = response.data.usage_policy;
                    loader.hide();
                }).catch(() => {
                    loader.hide();
                    this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                });
            },

            updateSetting() {
                var formData = {usage_policy: this.usagePolicy};
                let loader = this.$loading.show({
                    loader: 'dots',
                    container: this.$refs.editButton,
                });
                updateSetting(formData).then((response) => {
                    this.usagePolicy = response.data.usage_policy;
                    loader.hide();
                    this.$swal('', 'تم تعديل البيانات بنجاح', 'success');
                }).catch((error) => {
                    loader.hide();
                    if (error.response.data.message != null) {
                        this.$swal('', error.response.data.message, 'error');
                    } else {
                        this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                    }
                });
            }
        },

    }
</script>
