<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="ml-4">
                                <i class="fa fa-users fa-lg"></i>
                                المستخدمين
                            </span>
                        </p>
                        <b-field position="is-left" class="mt-2 col-5">
                            <b-input rounded placeholder="ابحث باسم المستخدم او رقم الجوال او المدينة .." type="search" icon="magnify" v-model="search"></b-input>
                        </b-field>
                    </header>
                    <div class="card-content">

                        <b-table
                                :data="filterData"
                                :paginated="isPaginated"
                                :per-page="perPage"
                                :current-page.sync="currentPage"
                                :pagination-simple="isPaginationSimple"
                                :default-sort-direction="defaultSortDirection"
                                :bordered="true"
                                :loading="isLoading"
                                striped
                                narrowed
                                default-sort="id">

                            <template slot-scope="props">
                                <b-table-column width="300" field="image" label="" sortable centered>
                                    <img v-if="props.row.profile_photo" style="width: 100px; height: 50px;"
                                         :src="appUrl+props.row.profile_photo"
                                    >
                                </b-table-column>

                                <b-table-column width="500" field="name" label="الاسم" centered>
                                    {{ props.row.name }}
                                </b-table-column>
                                <b-table-column width="500" field="mobile" label="رقم الجوال" centered>
                                    <p style="direction: ltr;">{{ props.row.mobile }}</p>
                                </b-table-column>
                                <b-table-column width="500" field="email" label="البريد الإلكتروني" centered>
                                    {{ props.row.email }}
                                </b-table-column>
                                <b-table-column width="500" field="city" label="المدينة" centered>
                                    {{ props.row.city.name }}
                                </b-table-column>
                                <b-table-column width="500" field="address" label="العنوان" centered>
                                    {{ props.row.address }}
                                </b-table-column>
                                <b-table-column width="500" field="address" label="تاريخ الانشاء" centered>
                                    {{ props.row.created }}
                                </b-table-column>
                                <b-table-column width="500" field="social" label="فيسبوك/تويتر" centered>
                                    <a v-if="props.row.facebook_link" :href="props.row.facebook_link"
                                       class="button is-info btn-circle-md">
                                        <span class="icon">
                                            <i class="mdi mdi-facebook-box mdi-24px"></i>
                                        </span>
                                    </a>
                                    <a v-if="props.row.twitter_link" :href="props.row.twitter_link"
                                       class="button is-info btn-circle-md">
                                        <span class="icon">
                                            <i class="mdi mdi-twitter-box mdi-24px"></i>
                                        </span>
                                    </a>
                                </b-table-column>

                                <b-table-column field="change" label="حظر/إلغاء حظر" width="100" centered>
                                    <span @click="changeUserStatus(props.row.id)">
                                        <b-switch  style="direction: ltr;" v-model="props.row.status"
                                                   true-value="1"
                                                   false-value="0">
                                        </b-switch>
                                    </span>
                                </b-table-column>
                                <b-table-column field="Edit" label="تعديل" width="100" centered>
                                    <a class="button is-accent btn-circle-md" @click="editUserModal(props.row)">
                                        <span class="icon">
                                            <i class="mdi mdi-account-edit mdi-24px"></i>
                                        </span>
                                    </a>
                                </b-table-column>
                                <b-table-column field="Delete" label="حذف" width="100" centered>
                                    <a class="button is-danger btn-circle-md" @click="deleteUserModal(props.row.id)">
                                        <span class="icon">
                                            <i class="mdi mdi-account-remove mdi-24px"></i>
                                        </span>
                                    </a>
                                </b-table-column>

                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon
                                                    icon="emoticon-sad"
                                                    size="is-large">
                                            </b-icon>
                                        </p>
                                        <p>{{ message }}</p>
                                    </div>
                                </section>
                            </template>

                        </b-table>
                        <div class="text-center mb-4">
                            <button @click="addUser = true" class="button is-info is-medium is-rounded">
                                إضافة مستخدم جديد
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Edit user -->
        <b-modal :active.sync="editUser" :width="680">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">تعديل بيانات المستخدم</p>
                </header>
                <section class="modal-card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="اسم المستخدم" :type="$v.userInfo.name.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل اسم المستخدم"
                                         v-model.trim="$v.userInfo.name.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="رقم الجوال" :type="$v.userInfo.mobile.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل رقم الجوال"
                                         v-model.trim="$v.userInfo.mobile.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="البريد الإلكترني" :type="$v.userInfo.email.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل البريد الإلكترني"
                                         v-model.trim="$v.userInfo.email.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="المدينة" :type="$v.userInfo.city_id.$error ? 'is-danger' : ''">
                                <b-select v-model.trim="$v.userInfo.city_id.$model" expanded>
                                    <option v-for="(city,i) in cities" :key="i" :value="city.id">{{ city.name }}</option>
                                </b-select>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="العنوان">
                                <b-input placeholder="ادخل عنوان المستخدم"
                                         v-model="userInfo.address"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="رابط الفيسبوك">
                                <b-input placeholder="ادخل رابط الفيسبوك"
                                         v-model="userInfo.facebook_link"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="رابط تويتر">
                                <b-input placeholder="ادخل رابط تويتر"
                                         v-model="userInfo.twitter_link"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="وصف المستخدم">
                                <b-input placeholder="ادخل وصف المستخدم" type="textarea" rows="2"
                                         v-model="userInfo.description"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-3 mt-3">
                            <b-field label="الصورة الشخصية">
                                <b-upload v-model="userInfo.profile_photo">
                                    <a class="button is-primary">
                                        <b-icon icon="upload"></b-icon>
                                        <span class="mr-2">Click to upload</span>
                                    </a>
                                </b-upload>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-9 mt-5">
                            <span class="col-12 col-md-6" v-if="userInfo.profile_photo">{{ userInfo.profile_photo.name }}</span>
                        </div>
                        <div class="col-12 col-md-3 mt-3">
                            <b-field label="صورة الغلاف">
                                <b-upload v-model="userInfo.cover_photo">
                                    <a class="button is-primary">
                                        <b-icon icon="upload"></b-icon>
                                        <span class="mr-2">اضغط للتحميل</span>
                                    </a>
                                </b-upload>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-9 mt-5">
                            <span class="col-12 col-md-6" v-if="userInfo.cover_photo">{{ userInfo.cover_photo.name }}</span>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="editUser = false">إلغاء</button>
                    <button class="button is-primary" ref="editButton" @click="editUserInfo()">حفظ التعديلات</button>
                </footer>
            </div>
        </b-modal>

        <!-- add user -->
        <b-modal :active.sync="addUser" :width="680" scroll="keep">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">إضافة مستخدم جديد</p>
                </header>
                <section class="modal-card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="اسم المستخدم" :type="$v.newUser.name.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل اسم المستخدم"
                                         v-model.trim="$v.newUser.name.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="رقم الجوال" :type="$v.newUser.mobile.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل رقم الجوال"
                                         v-model.trim="$v.newUser.mobile.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="البريد الإلكترني" :type="$v.newUser.email.$error ? 'is-danger' : ''">
                                <b-input placeholder="ادخل البريد الإلكترني"
                                         v-model.trim="$v.newUser.email.$model"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="المدينة" :type="$v.newUser.city_id.$error ? 'is-danger' : ''">
                                <b-select placeholder="اختر المدينة" v-model.trim="$v.newUser.city_id.$model" expanded>
                                    <option v-for="(city,i) in cities" :key="i" :value="city.id">{{ city.name }}</option>
                                </b-select>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="كلمة المرور"
                                     :type="$v.newUser.password.$error ? 'is-danger' : ''"
                                     :message="$v.newUser.password.$error ? 'كلمة المرور يجب ان تكون اكبر من 6 حروف او ارقام' : ''">
                                <b-input type="password"
                                         placeholder="ادخل كلمة المرور الجديدة"
                                         password-reveal icon="key"
                                         v-model.trim="$v.newUser.password.$model"
                                >
                                </b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="تأكيد كلمة المرور"
                                     :type="$v.newUser.password_confirmation.$error ? 'is-danger' : ''"
                                     :message="$v.newUser.password_confirmation.$error ? 'تأكيد كلمة المرور يجب أن يطابق كلمة المرور' : ''">
                                <b-input type="password"
                                         placeholder="ادخل كلمة المرور الجديدة مرة اخرى"
                                         password-reveal icon="key"
                                         v-model.trim="$v.newUser.password_confirmation.$model"
                                >
                                </b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <b-field label="العنوان">
                                <b-input placeholder="ادخل عنوان المستخدم"
                                         v-model="newUser.address"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="رابط الفيسبوك">
                                <b-input placeholder="ادخل رابط الفيسبوك"
                                         v-model="newUser.facebook_link"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <b-field label="رابط تويتر">
                                <b-input placeholder="ادخل رابط تويتر"
                                         v-model="newUser.twitter_link"
                                         icon="flag-checkered"></b-input>
                            </b-field>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="addUser = false">إلغاء</button>
                    <button class="button is-primary" ref="addButton" @click="addUserInfo()">حفظ</button>
                </footer>
            </div>
        </b-modal>


    </div>
</template>


<script>
    import {getUsers, addUser, updateUser, getCities, changeUserStatus, deleteUser} from './../config/apiRoutes'
    import { required,email,url,minLength,sameAs } from 'vuelidate/lib/validators'
    import {appUrl} from '../config/apiConfig';
    export default {
        data() {
            return {
                message: 'لا يوجد مستخدمين حاليا',
                appUrl: appUrl,
                search:'',
                users: [],
                userInfo: {
                    user_id: null,
                    name: null,
                    mobile: null,
                    city_id: null,
                    email: null,
                    address: null,
                    facebook_link: null,
                    twitter_link: null,
                    description: null,
                },
                newUser: {
                    name: null,
                    mobile: null,
                    city_id: null,
                    password: null,
                    password_confirmation: null,
                    email: null,
                    address: null,
                    facebook_link: null,
                    twitter_link: null,
                },
                cities: [],
                editUser: false,
                addUser: false,
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'desc',
                currentPage: 1,
                perPage: 10,
                isLoading: true,
            }
        },

        validations: {
            userInfo: {
                user_id: {required},
                name: {required},
                mobile: {required},
                city_id: {required},
                email: {email},
                facebook_link: {url},
                twitter_link: {url},
            },
            newUser: {
                name: {required},
                mobile: {required},
                city_id: {required},
                password: {required,minLength: minLength(6)},
                password_confirmation:{required,minLength: minLength(6),sameAs:sameAs('password')},
                email: {email},
                facebook_link: {url},
                twitter_link: {url},
            }
        },

        computed: {
            filterData() {
                this.search = this.search.trim();
                return this.users.filter(user => {
                    return user.name.toLowerCase().includes(this.search.toLowerCase())
                        || user.mobile.toLowerCase().includes(this.search.toLowerCase())
                        || user.city.name.toLowerCase().includes(this.search.toLowerCase())
                });
            },
        },

        created: function () {
            this.getData();
        },

        methods:{
            getData() {
                getUsers().then((response) => {
                    this.users = response.data;
                    this.isLoading = false;
                }).catch(() => {
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    this.isLoading = false;
                });

                getCities().then((response) => {
                    this.cities = response.data;
                });
            },

            editUserInfo() {
                var formData = new FormData();

                for ( var key in this.userInfo ) {
                    formData.append(key, this.userInfo[key] === null ? '':this.userInfo[key]);
                }

                this.$v.userInfo.$touch();
                if (!this.$v.userInfo.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.editButton,
                    });
                    updateUser(formData).then((response) => {
                        this.users = response.data;
                        loader.hide();
                        this.editUser = false;
                        this.$swal('','تم تعديل بيانات المستخدم بنجاح','success');
                    }).catch((error) => {
                        loader.hide();
                        if (error.response.data.message != null) {
                            this.$swal('', error.response.data.message, 'error');
                        } else {
                            this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                        }
                    });
                }
            },

            editUserModal(user){
                this.userInfo.user_id = user.id;
                this.userInfo.name = user.name;
                this.userInfo.mobile = user.mobile;
                this.userInfo.city_id = user.city_id;
                this.userInfo.email = user.email;
                this.userInfo.address = user.address;
                this.userInfo.description = user.description;
                this.userInfo.facebook_link = user.facebook_link;
                this.userInfo.twitter_link = user.twitter_link;
                this.userInfo.adminRequest = true;
                this.editUser = true;
            },

            addUserInfo() {
                // var formData = new FormData();
                //
                // for ( var key in this.newUser ) {
                //     formData.append(key, this.newUser[key]);
                // }

                this.$v.newUser.$touch();
                if (!this.$v.newUser.$invalid) {
                    let loader = this.$loading.show({
                        loader: 'dots',
                        container: this.$refs.addButton,
                    });
                    addUser(this.newUser).then((response) => {
                        this.users = response.data;
                        this.$v.newUser.$reset();
                        loader.hide();
                        this.addUser = false;
                        this.newuser = {name: null,mobile: null,city_id: null,password: null,password_confirmation: null,email: null,address: null,facebook_link: null,twitter_link: null};
                        this.$swal('','تم إضافة المستخدم بنجاح، برجاء تسجيل الدخول من التطبيق لتفعيل رقم الجوال','success');
                    }).catch((error) => {
                        loader.hide();
                        if (error.response.data.message != null) {
                            this.$swal('', error.response.data.message, 'error');
                        } else {
                            this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                        }
                    });
                }
            },

            changeUserStatus(user_id) {
                let loader = this.$loading.show({
                    loader: 'spinner',
                });
                changeUserStatus(user_id).then((response) => {
                    this.users = response.data;
                    loader.hide();
                }).catch(() => {
                    this.getData();
                    loader.hide();
                    this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                });
            },
            deleteUserModal: function(user_id) {
                let loader = this.$loading.show({
                    loader: 'spinner',
                });
                deleteUser({id:user_id}).then((response) => {
                    loader.hide();
                    this.$swal('', 'تم حذف المستخدم بنجاح', 'success');
                }).catch(() => {
                    this.getData();
                    loader.hide();
                    this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                });
            }
        }

    }
</script>
