<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="ml-4">
                                <i class="fa fa-envelope fa-lg"></i>
                                محادثات المستخدمين
                            </span>
                        </p>
                        <b-field position="is-left" class="ml-auto col-6">
                            <b-input rounded placeholder="ابحث برقم الإعلان او اسماء المتحدثين ..." type="search" icon="magnify" v-model="search"></b-input>
                        </b-field>
                    </header>
                    <div class="card-content">

                        <b-table
                                :data="filterData"
                                :paginated="isPaginated"
                                :per-page="perPage"
                                :current-page.sync="currentPage"
                                :pagination-simple="isPaginationSimple"
                                :default-sort-direction="defaultSortDirection"
                                :bordered="true"
                                :loading="isLoading"
                                striped
                                narrowed
                                default-sort="id">

                            <template slot-scope="props">
                                <b-table-column field="id" label="#" centered>
<!--                                    {{ props.row.id }}-->
                                </b-table-column>
                                <b-table-column field="created_at" label="الوقت والتاريخ" centered>
                                    {{ moment(props.row.created_at) }}
                                </b-table-column>
                                <b-table-column field="name" label="رقم الإعلان" centered>
                                    {{ props.row.advertisement ? props.row.advertisement.id : '' }}
                                </b-table-column>
                                <b-table-column field="email" label="اسم صاحب الإعلان" centered>
                                    {{  props.row.advertisement && props.row.advertisement.user ? props.row.advertisement.user.name : '' }}
                                </b-table-column>
                                <b-table-column field="subject" label="اسم المرسل" centered>
                                    {{ ( props.row.advertisement && props.row.user1 && props.row.advertisement.user != null && props.row.user1.id === props.row.advertisement.user.id ) ? props.row.user2.name : (props.row.user1 ? props.row.user1.name : '') }}
                                </b-table-column>

                                <b-table-column field="show" label="عرض التفاصيل" width="150" centered>
                                    <router-link :to="'/admin/conversations/show/' + props.row.id"
                                                 class="button is-accent btn-circle-md">
                                        <span class="icon">
                                            <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                                        </span>
                                    </router-link>
                                </b-table-column>


                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon
                                                    icon="emoticon-sad"
                                                    size="is-large">
                                            </b-icon>
                                        </p>
                                        <p>{{ message }}</p>
                                    </div>
                                </section>
                            </template>

                        </b-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>


<script>
    import {getAllConversations} from './../config/apiRoutes'
    var moment = require('moment');

    export default {
        data() {
            return {
                message: 'لا يوجد محادثات حاليا',
                conversations: [],
                search:'',
                isPaginated: true,
                isPaginationSimple: false,
                defaultSortDirection: 'desc',
                currentPage: 1,
                perPage: 10,
                isLoading: true,
            }
        },

        created: function () {
            this.getData();
        },

        computed: {
            filterData() {
                this.search = this.search.trim();
                return this.conversations.filter(conversation => {
                    return ( conversation.advertisement != undefined && conversation.advertisement.id === parseInt(this.search) )
                        || ( conversation.user1 != undefined && conversation.user1.name.toLowerCase().includes(this.search.toLowerCase()) )
                        || ( conversation.user2 != undefined && conversation.user2.name.toLowerCase().includes(this.search.toLowerCase()) )
                });
            },
        },

        methods:{
            getData() {
                getAllConversations().then((response) => {
                    this.conversations = response.data;
                    this.isLoading = false;
                }).catch(() => {
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                    this.isLoading = false;
                });
            },

            moment(date) {
                return moment(date).format('DD/MM/YYYY,HH:mm:ss');
            },
        }

    }
</script>
