<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="ml-4">
                                <i class="fa fa-envelope fa-lg"></i>
                                تفاصيل محادثة رقم ({{ conversation.id }}) - صاحب الإعلان: {{ advertisement.user.name }}
                            </span>
                        </p>
                    </header>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card m-b-0">
                    <!-- .chat-row -->
                    <div class="chat-main-box">
                        <div>
                            <div class="chat-main-header">
                                <div class="p-20 b-b">
                                    <h3 class="box-title">
                                        <a :href="'/admin/advertisements/show/'+advertisement.id" class="active">
                                            <span class="contact-title">
                                                  إعلان رقم ({{ advertisement.id }}) -  {{ advertisement.title }}
                                            </span>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                            <ul class="chat-list p-20">
                                <!--chat Row -->
                                <div v-if="messages.length > 0" v-for="(message,i) in messages" :key="i" id="chatBody">
                                    <li class="mb-4" v-if="message.sender_id === conversation.user1_id">
                                        <div class="chat-content">
                                            <h5>{{ message.sender.name }}</h5>
                                            <div v-if="message.message" class="box bg-light-info">{{ message.message }}</div>
                                            <div v-else-if="message.message_photo" class="box bg-light-info">
                                                <a>
                                                    <img @click="openImageModal(message.message_photo)" style="width: 200px; height: 100px;"
                                                     :src="appUrl+message.message_photo">
                                                </a>
                                            </div>
                                            <div class="chat-time">{{ moment(message.created_at,'hh:mm A') }} - {{ moment(message.created_at,'DD MMM YYYY') }}</div>
                                        </div>
                                    </li>
                                    <!--chat Row -->
                                    <li class="reverse mb-4" v-else-if="message.sender_id === conversation.user2_id">
                                        <div class="chat-content">
                                            <h5>{{ message.sender.name }}</h5>
                                            <div v-if="message.message" class="box bg-light-inverse">{{ message.message }}</div>
                                            <div v-else-if="message.message_photo" class="box bg-light-inverse">
                                                <a>
                                                    <img @click="openImageModal(message.message_photo)" style="width: 200px; height: 100px;"
                                                         :src="appUrl+message.message_photo">
                                                </a>
                                            </div>
                                            <div class="chat-time">{{ moment(message.created_at,'hh:mm A') }} - {{ moment(message.created_at,'DD MMM YYYY') }}</div>
                                        </div>
                                    </li>
                                    <li class="mb-4" v-else-if="message.sender_id === null">
                                        <div class="chat-content">
                                            <h5>ForSales App</h5>
                                            <div v-if="message.message" class="box bg-light-admin">{{ message.message }}</div>
                                            <div v-else-if="message.message_photo" class="box bg-light-admin">
                                                <a>
                                                    <img @click="openImageModal(message.message_photo)" style="width: 200px; height: 100px;"
                                                         :src="appUrl+message.message_photo">
                                                </a>
                                            </div>
                                            <div class="chat-time">{{ moment(message.created_at,'hh:mm A') }} - {{ moment(message.created_at,'DD MMM YYYY') }}</div>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                            <div class="card-body b-t" ref="messageContent">
                                <div class="row">
                                    <div class="col-11">
                                        <textarea placeholder="اكتب رسالتك هنا ..." class="form-control b-0" v-model="messageContent" spellcheck="true" style="z-index: auto; position: relative; line-height: 24px; font-size: 16px; transition: none 0s ease 0s;     width: 100%;outline: 0;"></textarea>
                                    </div>
                                    <div class="col-1 text-right">
                                        <button type="button" class="btn-circle btn-main-g btn-lg" :disabled="!messageContent" @click="sendMessage"><i class="fa fa-paper-plane" style="color:#fff"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <b-modal :active.sync="imageModal" :width="680" :height="680">
            <p>
                <img :src="appUrl+currentImage">
            </p>
        </b-modal>

    </div>
</template>
<script>
    import VueScrollbar from 'vue2-scrollbar';
    require("vue2-scrollbar/dist/style/vue2-scrollbar.css");
    import {showConversation,sendMessage} from '../config/apiRoutes'
    import {appUrl} from '../config/apiConfig'
    var moment = require('moment');

    export default {
        data(){
            return {
                conversation_id: this.$route.params.conversation_id,
                conversation: {},
                messages: [],
                advertisement: {user: {}},
                messageContent: null,
                interval: null,
                appUrl:appUrl,
                currentImage: null,
                imageModal: false,

            }
        },
        created() {
            this.getData();
            // this.interval = setInterval(() => {
            //     if (this.receiver_id) {
            //         this.getMessages();
            //     }
            // },30000)
        },
        // destroyed() {
        //     clearInterval(this.interval);
        // },

        components:{
            VueScrollbar
        },

        methods:{
            getData() {
                let loader = this.$loading.show({
                    loader: 'spinner',
                });
                showConversation(this.conversation_id).then((response) => {
                    this.conversation = response.data;
                    this.messages = this.conversation.messages;
                    this.advertisement = this.conversation.advertisement;
                    loader.hide();
                }).catch(() => {
                    loader.hide();
                    this.message = 'حدث خطأ ما برجاء المحاولة مرة أخري';
                });
            },

            getMessages() {
                var formData = {
                    receiver_id: this.receiver_id,
                };
                getOrCreateConversation(formData).then((response) => {
                    this.messages = response.data.messages;
                });
            },

            sendMessage() {
                var formData = {
                    conversation_id: this.conversation_id,
                    message: this.messageContent,
                };
                let loader = this.$loading.show({
                    loader: 'dots',
                    container: this.$refs.messageContent,
                });
                sendMessage(formData).then((response) => {
                    this.messages = response.data.messages;
                    this.messageContent = null;
                    // var chatBody = document.getElementById("chatBody");
                    // console.log(chatBody);
                    // chatBody.scrollTop = chatBody.scrollHeight;
                    loader.hide();
                }).catch((error) => {
                    loader.hide();
                    if (error.response.data.message != null) {
                        this.$swal('', error.response.data.message, 'error');
                    } else {
                        this.$swal('', 'حدث خطأ برجاء المحاولة مرة أخرى', 'error');
                    }
                });
            },

            moment(date,format) {
                return moment(date).format(format);
            },

            openImageModal(image) {
                this.currentImage = image;
                this.imageModal = true;
            },
        },
    }
</script>
